.header-bg {
    background: url('/images/events/vdd16/vdd14-blurred.jpg') center no-repeat;
    padding: 180px 0;
    margin-top: -91px;
    background-size: cover;
}

.header-bg {
    color: white !important;
}

.header-bg h1 {
    font-size: 36px;
}

.header-bg h1, .header-bg h3, .header-bg a {
    color: white;
}

.header-bg a:hover, a:active, a:focus {
    color: #e0e0e0;
}

.header-bg h4 {
    font-weight: bold;
}

#nonprofitOrganizationDiv2 {
    color: #e0e0e0;
}

#nonprofitOrganizationDiv2 a {
    color: #d0d0d0;
}

section {
   padding: 35px 0;
}

p {
    font-size: 14px;
}

h2 {
    margin-bottom: 10px;
}

.uppercase {
    text-transform: uppercase;
}

#where {
    background: url('/images/events/vdd16/crowd-of-people.jpg') center no-repeat fixed;
    color: white;
}

#where a, #where h2, #where p {
    color: white;
}

.btn-border {
    border: 1px solid #fff;
}

.tab-content {
    margin-left: 1px;
}

.event {
    color: #4d4d4d;
    margin-top: 6px;
    border-radius: 6px;
    padding: 1.8em 1.6em;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12);
}

.event h3 {
    color: #4d4d4d;
    font-weight: bold;
}

#sponsors {
    position: absolute;
    bottom: -170px;
    right: 15px;
}

.youtube-logo {
    width: auto;
    height: 38px;
}

.header-bg .container {
    position: relative;
}

.vdd17-videolan-banner {
    margin-top: 10px;
}

.event-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;;
}

.event-col {
    margin: 5px 0;
}

.event-col .header {
    font-weight: bold;
}

.event-time {
    color: #39b549;
    display: inline-block;
}

.event-author {
    float: right;
    font-style: italic;
}

.spacer {
    width: 200px;
    border-top: 3px solid #e7e7e7;
    margin: 24px auto;
}

.nav-tabs > li {
    float:none;
    display:inline-block;
    zoom:1;
}

.nav-tabs {
    text-align:center;
}

.nav-tabs {
    border-bottom: none !important;
}

.nav-tabs {
    border-bottom: 2px solid #DDD;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    border-width: 0;
}

.nav-tabs > li > a {
    border: none;
    color: #666;
}

.nav-tabs > li.active > a, .nav-tabs > li > a:hover {
    border: none;
    color: #39b549 !important;
    background: transparent;
}

.nav-tabs > li > a::after {
    content: "";
    background: #39b549;
    height: 2px;
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: -1px;
    transition: all 250ms ease 0s;
    transform: scale(0);
}

.nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after {
    transform: scale(1);
}

.tab-nav > li > a::after {
    background: #21527d none repeat scroll 0% 0%; color: #fff;
}

.tab-pane {
    padding: 15px 0;
}

.tab-content {
    padding:20px
}

.event-bg {
    background-color: #fbfbfb;
}