
ErrorDocument 403 /403.html
ErrorDocument 404 /404.html

RewriteEngine on

#
# Redirects for moved pages
#
RewriteRule ^vlcs(.*)$ /network$1 [R=permanent,L]
RewriteRule ^packages(.*)$ /pub/vlc$1 [R=permanent,L]
RewriteRule ^screenshots(.*)$ /vlc/screenshots$1 [R=permanent,L]
RewriteRule ^team.html$ /team/index.html [R=permanent,L]

RewriteRule ^lists.html$ /support/lists.html [R=permanent,L]
RewriteRule ^intro.html$ /streaming/index.html [R=permanent,L]
RewriteRule ^irc(.*)$ /support/irc$1 [R=permanent,L]
RewriteRule ^download.html$ /vlc/index.html [R=permanent,L]
RewriteRule ^vlc/doc.html$ /vlc/index.html [R=permanent,L]
RewriteRule ^vlc/download.html$ /vlc/index.html [R=permanent,L]
RewriteRule ^vlc/beos.html$ /vlc/features.html [R=permanent,L]
RewriteRule ^vlc/bsd.html$ /vlc/features.html [R=permanent,L]
RewriteRule ^vlc/familiar.html$ /vlc/features.html [R=permanent,L]
RewriteRule ^vlc/linux.html$ /vlc/features.html [R=permanent,L]
RewriteRule ^vlc/macosx.html$ /vlc/features.html [R=permanent,L]
RewriteRule ^vlc/qnx.html$ /vlc/features.html [R=permanent,L]
RewriteRule ^vlc/solaris.html$ /vlc/features.html [R=permanent,L]
RewriteRule ^vlc/windows.html$ /vlc/features.html [R=permanent,L]
RewriteRule ^vls/sat/index.html$ /streaming/index.html [R=permanent,L]
RewriteRule ^vls/doc.html$ /streaming/index.html [R=permanent,L]
RewriteRule ^libdvdcss/download.html$ /vlc/download-unix.html [R=permanent,L]
RewriteRule ^libdvdcss/(.*)$ /vlc/index.html [R=permanent,L]
RewriteRule ^libdvbpsi/download.html$ /vlc/download-unix.html [R=permanent,L]
RewriteRule ^libdvbpsi/(.*)$ /vlc/index.html [R=permanent,L]
RewriteRule ^vlms/(.*)$ /streaming/index.html [R=permanent,L]
RewriteRule ^network/(.*)$ /streaming/index.html [R=permanent,L]

Redirect /vlc/changelog.html http://developers.videolan.org/vlc/ChangeLog
Redirect /vls/changelog.html http://developers.videolan.org/vls/ChangeLog
Redirect /cvs.html http://developers.videolan.org/cvs.html
Redirect /vlc/developers.html http://developers.videolan.org/vlc/devel_doc.html
Redirect /vls/developers.html http://developers.videolan.org/vls/devel_doc.html

#
# MIME Types
AddType application/octet-stream .dmg
AddType application/octet-stream .rpm

