
ErrorDocument 403 /403.html
ErrorDocument 404 /404.html

RewriteEngine on

#
# Redirects for moved pages
#
# Commented the line below because there are other docs than vlc HOWTO now
# -- Alexis 6/4/2002
#RewriteRule ^doc(.*)$ /vlc/doc$1 [R=permanent,L]
RewriteRule ^vlcs(.*)$ /network$1 [R=permanent,L]
RewriteRule ^packages(.*)$ /pub/vlc$1 [R=permanent,L]
RewriteRule ^screenshots(.*)$ /vlc/screenshots$1 [R=permanent,L]
RewriteRule ^team.html /team/index.html [R=permanent,L]

RewriteRule ^lists.html /support/lists.html [R=permanent,L]
RewriteRule ^irc(.*)$ /support/irc$1 [R=permanent,L]
RewriteRule ^download.html /vlc/index.html [R=permanent,L]
RewriteRule ^vlc/doc.html$ /vlc/index.html [R=permanent,L]
RewriteRule ^vlc/download.html /vlc/index.html [R=permanent,L]
RewriteRule ^libdvdcss/download.html /vlc/download-unix.html [R=permanent,L]
RewriteRule ^libdvbpsi/download.html /vlc/download-unix.html [R=permanent,L]

#
# MIME Types
AddType application/octet-stream .dmg
AddType application/octet-stream .rpm

