/* CSS for the VideoLAN website
 * Stolen from the Gnumeric website by Sam :-) */

body {
  font-family: sans-serif, Helvetica, Arial;
  font-size: 10pt;
  background: white;
  color: black;
  margin: 0px 0px;
  width: 99%;
}

code {
  font-family: monospace, fixed, Courier;
}

img {
  margin-left: 5px;
  margin-right: 5px;
}

p {
  font-size: 10pt;
  font-family: inherit;
  text-indent: 0px;
  background: inherit;
  color: inherit;
}

td {
  font-size: 10pt;
  font-family: inherit;
  background: inherit;
  color: inherit;
}

h1 {
  font-size: 14pt;
  font-family: inherit;
  font-weight: 600;
  background: inherit;
  color: #888;
  padding: 0;
  margin: 0px 0px 5px 0px;
  border-style: solid;
  border-bottom-color: #a43;
  border-bottom-width: 2px;
  border-top-color: #fff; /* white */
  border-top-width: 0px;
  border-left-color: #fff; /* white */
  border-left-width: 0px;
  border-right-color: #fff; /* white */
  border-right-width: 0px;
}

h2 {
  font-size: 12pt;
  font-family: inherit;
  font-weight: 600;
  background: inherit;
  color: #888;
  padding: 0;
  text-decoration: underline;
  border-bottom-style: solid;
  border-bottom-color: #a43;
  border-bottom-width: 2px;
}

a:link {
  background: inherit;
  font-family: inherit;
  color: #23b;
  text-decoration: underline;
}

a:visited {
  background: inherit;
  font-family: inherit;
  color: #700;
}

a:hover {
  background: #9bf;
  font-family: inherit;
  color: #00a;
}

ol, ul, ul.small {
  font-size: 10pt;
  font-family: inherit;
  text-indent: 0px;
  background: inherit;
  color: inherit;
}

ul.big {
  font-size: 12pt;
  font-family: inherit;
  background: inherit;
  color: inherit;
}

dl {
  font-size: 10pt;
  font-family: inherit;
}

dt {
  font-size: 10pt;
  font-family: inherit;
  font-weight: 600;
  background: inherit;
  color: inherit;
  padding: 0;
  border-bottom-color: #000080;
  border-bottom-width: 1px;
  border-top-color: #fff;
  border-top-width: 0px;
  border-left-color: #fff;
  border-left-width: 0px;
  border-right-color: #fff;
  border-right-width: 0px;
}

dd {
  font-size: 10pt;
  font-family: inherit;
}

blockquote.center,p.center,td.center,h2.center { text-align: center; }
blockquote.right, p.right, td.right  { text-align: right; }

td.black  { color: black; background-image: none; background-color: black; }
td.blue   { color: black; background-image: none; background-color: #9bf; }
td.green  { color: black; background-image: none; background-color: #afa; }
td.orange { color: black; background-image: none; background-color: #ec8; }
td.red    { color: black; background-image: none; background-color: #faa; }
td.yes {
  color: black;
  background-image: none;
  background-color: #cfc;
  vertical-align: middle;
  text-align: center;
}
td.no {
  color: black;
  background-image: none;
  background-color: #fcc;
  vertical-align: middle;
  text-align: center;
}
td.partial {
  color: black;
  background-image: none;
  background-color: #ffa;
  vertical-align: middle;
  text-align: center;
}
td.none {
  color: black;
  background-image: none;
  background-color: #fff;
  vertical-align: middle;
  text-align: center;
}
td.type {
  color: black;
  background-image: none;
  background-color: #eef;
  vertical-align: middle;
}
td.category {
  color: black;
  background-image: none;
  background-color: #ccf;
  vertical-align: middle;
}
th.os {
  color: black;
  background-image: none;
/*  background-color: #eaa; */
  vertical-align: middle;
}
.firstbar {
  vertical-align: middle;
  text-align: center;
  background-color: #a43;
  color: #fff;
  font-weight: bold;
  font-size: 1.1em;
}
.firstbar:hover {
  background-color: inherit;
  color: #ff0;
}
.firstbarselected {
  vertical-align: middle;
  text-align: center;
  background-color: #888;
  color: #ff0;
  font-weight: bold;
  font-size: 1.1em;
}
td.secondbarhome {
  background-image: none;
  background-color: #ffa;
  vertical-align: middle;
  width: 15%;
  text-align: center;
}
td.secondbarvlc {
  background-image: none;
  background-color: #ffa;
  vertical-align: middle;
  width: 33%;
  text-align: center;
}
td.secondbarstream {
  background-image: none;
  background-color: #ffa;
  vertical-align: middle;
  width: 33%;
  text-align: center;
}
td.secondbarsupport {
  background-image: none;
  background-color: #ffa;
  vertical-align: middle;
  width: 33%;
  text-align: center;
}
