<?xml version="1.0" encoding="UTF-8"?>
<!-- revision:1.1 -->
<chapter id="config"><title id="tconfig">Configuration</title>

<para>

VLS lit sa configuration depuis le fichier
<filename moreinfo="none">vls.cfg</filename>, qui doit se trouver dans le répertoire
courant ou dans <filename moreinfo="none">SYSCONF_DIR/videolan/vls</filename> où
<emphasis>SYSCONF_DIR</emphasis> est <filename moreinfo="none">/usr/local/etc</filename>
si vous avez installé VLS à la main, ou <filename moreinfo="none">/etc</filename> si
vous avez utilisé le package Debian

.</para>

<para>


Pour écrire un fichier <filename moreinfo="none">vls.cfg</filename>, utilisez celui fourni
avec VLS comme point de départ



.</para>

<sect1><title>

Structure générale

</title>

<para>

Le fichier de configuration
<filename moreinfo="none">vls.cfg</filename> est divisé en section, chacune contenant
plusieurs variables

:</para>
<programlisting format="linespecific">


BEGIN "Section1"
   Variable1 = "valeur1"
   Variable2 = "valeur2"
  [...]
END

BEGIN "Section2"
   Variable1 = "valeur1"
   Variable3 = "valeur3"
  [...]
END
 

[...]
</programlisting>

<para>

Tous les noms de section, noms de variable, et
valeurs ne sont pas sensibles à la case. Il peut y avoir des sections
et sous-sections vides. Les commentaires doivent être placés après un
<keycap moreinfo="none">#</keycap>. Certaines variables ont une valeur par défaut; ce
qui signifie que vous pouvez ne pas les déclarer, leur valeur sera alors
la valeur par défaut

.</para>

</sect1>

<sect1><title>

Ecriture d'un <filename moreinfo="none">vls.cfg</filename>

</title>

<para>

Nous allons maintenant détailler toutes les sections
du fichier <filename moreinfo="none">vls.cfg</filename>

:</para>

<sect2><title>Section "VLS"</title>

<para>

Cette section contient des paramètres globaux

.</para>

<programlisting format="linespecific">
LogFile = "name"
</programlisting>

<para>

Nom du fichier de log de VLS. Si une valeur vide
("") est entrée, aucun log n'est écrit. Le défaut est "vls.log"

.</para>

<programlisting format="linespecific">
SystemLog = "[disable|enable]"
</programlisting>

<para>

Log dans le mécanisme de log du système.
Actuellement, seul syslogd est supporté: compilez avec
<command moreinfo="none">./configure --enable-syslog</command>

.</para>

<caution><para>

Si VLS est lancé en tant que
<command moreinfo="none">vlsd</command>, la configuration suivante est requise

:</para>

<programlisting format="linespecific">
BEGIN "Vls"
  LogFile   = ""
  SystemLog = "enabled"
  ScreenLog = "disabled"
END
</programlisting>

</caution>

<programlisting format="linespecific">
ScreenLog = "[disable|enable]"
</programlisting>

<para>

Affichage des logs sur la console

.</para>

<para>

Exemple

:</para>

<programlisting format="linespecific">
BEGIN "Vls"
  LogFile   = "vls.log"
  SystemLog = "disable"
  ScreenLog = "enable"
END
</programlisting>

</sect2>

<sect2><title>

Section "Groups"

</title>

<para>

Dans cette section, vous pouvez définir des groupes
d'utilisateurs et quelles commandes ils sont autorisés à exécuter. Pour
chaque groupe, vous devez ajouter une ligne du type

:</para>

<programlisting format="linespecific">
groupname = "command1|command2|..."
</programlisting>

<para>

Ceci ajoute le groupe "groupname", dont les
utilisateurs peuvent exécuter command1,command2, ... Les commandes
disponibles sont: browse, start, suspend, resume, forward, rewind, stop,
shutdown, logout

.</para>

<para>

Exemple

:</para>

<programlisting format="linespecific">
BEGIN "Groups"
  monitor = "help|browse|logout"
  master  = "help|browse|start|resume|suspend|forward|rewind|stop|shutdown|logout"
END
</programlisting>

</sect2>

<sect2><title>

Section "Users"

</title>

<para>

Cette section contient la liste des utilisateurs
autorisés à contrôler VLS via l'interface d'administration. Pour chaque
utilisateur, vous devez ajouter une ligne du type

:</para>

<programlisting format="linespecific">
username = "password:groupname"
</programlisting>

<para>

Ceci ajoute un utilisateur "username", qui
appartient au groupe "groupname", défini dans la section "Groups", et
qui peut se logguer avec le mot de passe "password"

.</para>

<itemizedlist>

<listitem><para>

Sous Unix/Linux, le mot de passe doit être encrypté,
avec un outil tel que <command moreinfo="none">mkpasswd</command>, ou à l'aide de la
fonction unix "crypt"

.</para></listitem>

<listitem><para>

Sous Windows, le mot de passe doit être en clair

.</para></listitem>

</itemizedlist>

<para>

Exemple pour Unix/Linux

:</para>

<programlisting format="linespecific">
BEGIN "Users"
  monitor = "3BcKWoiQn0vi6:monitor"       # password is 'monitor'
  admin   = "42BKiCguFAL/c:master"        # password is 'Vir4Gv5S'
END
</programlisting>

</sect2>

<sect2><title>

Section "Telnet"

</title>

<para>

Dans cette section, vous pouvez configure
l'interface d'administration telnet

.</para>

<programlisting format="linespecific">
LocalPort = "port"
</programlisting>

<para>

Définit le port qui sera utilisé pour le serveur
telnet. Le port par défaut est "9999"

.</para>

<programlisting format="linespecific">
Domain = "domain"
</programlisting>

<para>

Soit "inet4", soit "inet6" (défaut = "inet4").
Si vous voulez utiliser IPv4, mettez "inet4", et pour l'IPv6, mettez
"inet6"

.</para>

<programlisting format="linespecific">
LocalAddress = "IP address"
</programlisting>

<para>

Définit sur quelle adresse IP le serveur Telnet va
écouter les requêtes. L'adresse par défaut est "0.0.0.0" (ou "0::0" avec
l'IPv6)

.</para>

<para>

Exemple

:</para>

<programlisting format="linespecific">
BEGIN "Telnet"
  LocalPort = "9999"
END
</programlisting>
</sect2>

<sect2><title>

Section "NativeAdmin"

</title>

<para>

Même syntaxe que "Telnet". Inutilisé

.</para>

</sect2>

<sect2><title>

Section "Inputs"

</title>

<para>

Dans cette section, vous pouvez définir quelles
entrées vous désirez utiliser. Pour chaque entrée, ajoutez une ligne du
type

:</para>

<programlisting format="linespecific">
InputName = "Type"
</programlisting>

<para>

Ceci ajoute une entrée nommée "InputName", de type
"Type". Comme expliqué, il existe plusieurs types d'entrées

:</para>

<itemizedlist>

<listitem><para>


"local" pour jouer des fichiers ou des DVDs

,</para></listitem>

<listitem><para>

"video" pour lire depuis une carte d'encodage
MPEG

,</para></listitem>

<listitem><para>

"dvb" pour lire depuis une carte DVB

,</para></listitem>

<listitem><para>

"v4l" pour lire depuis un périphérique Video4Linux

.</para></listitem>

</itemizedlist>

<para>

Chaque entrée doit être configurée dans sa propre
section (voir la suite)

.</para>

<para>

Exemple

:</para>

<programlisting format="linespecific">
BEGIN "Inputs"
  local1 = "local"
  pvr    = "video"
  dvb1   = "dvb"
  tuner  = "v4l"
END
</programlisting>
</sect2>

<sect2><title>

Configuration des entrées

</title>

<para>

Pour chaque entrée déclarée dans la section
"Inputs", à l'exception des entrées "local", vous devez ajouter une
section avec le même nom que l'entrée correspondante. Par exemple,
si vous déclarez une entrée "pvr", il doit également y avoir une
section "pvr". La syntaxe de ces sections dépend du type de l'entrée
correspondante

.</para>

<para>

Pour configurer une entrée locale, vous n'avez
rien à faire, sauf si vous utilisez une stratégie "trickplay"
différente

:</para>

<programlisting format="linespecific">
BEGIN "Local1"
  ProgramCount = "1"
  TrickPlay    = "normal"
END
</programlisting>

<para>

"Local1" est le nom de l'entrée que vous configurez.
"ProgramCount" est le nombre de programmes correspondant à cette
entrée". "TrickPLay" est la stratégie trickplay utilisée par l'entrée
(le défaut est "normal")

.</para>

<para>

Pour configurer une entrée vidéo, ajoutez une
section dans ce format

:</para>

<programlisting format="linespecific">
BEGIN "VideoInputName"
  Device = "device"
  Type   = "type"
END
</programlisting>

<para>

"VideoInputName" est le nom de l'entrée vidéo que
vous configurez. "Device" est l'adresse de la carte d'encodage MPEG
que vous désirez utiliser (le défaut est "/dev/video"). "Type" est
soit "MPEG2-PS", soit "MPEG2-TS", selon la configuration de votre
périphérique (le défaut est "MPEG2-PS")

.</para>

<para>

Exemple pour une carte Hauppauge WinTV-PVR-250

:</para>

<programlisting format="linespecific">
BEGIN "pvr"
  Device = "/dev/video0"
  Type   = "Mpeg2-PS"
END
</programlisting>

<para>

Pour configurer une entrée dvb, ajoutez une section
du type suivant

:</para>

<programlisting format="linespecific">
BEGIN "DvbInputName"
  DeviceNumber = "devicenumber"
  SendMethod   = "0"
END
</programlisting>

<para>

"DvbInputName" est le nom de l'entrée dvb que
vous configurez. Réglez "SendMethod" à "0" si vous désirez diffuser
le flux DVB complet et à "1" si vous désirez diffuser les flux MPEG
audio et vidéo (le défaut est "0"). "DeviceNumber" est le numéro du
périphérique DVB depuis leequel vous désirez lire (lecture depuis
<filename moreinfo="none">/dev/ost/dvr&lt;devicenumber&gt;</filename>, le défaut étant
""). Le fichier de configuration de dvb est défini par le périphérique.
Vous pouvez le trouver dans <filename moreinfo="none">$HOME/.dvbrc</filename> pour
/dev/dvb/adapter0 ou dans <filename moreinfo="none">$HOME/.dvbrc.X</filename> pour
<filename moreinfo="none">/dev/dvb/adapterX</filename>
.</para>

<para>

Exemple

:</para>

<programlisting format="linespecific">
BEGIN "dvb1"
  DeviceNumber = "0"
  TrickPlay = "normal"
END
</programlisting>

</sect2>

<sect2><title>

Section "Channels"

</title>

<para>

Dans cette section, vous pouvez définir les
sorties que vous désirez utiliser. Pour chacune, ajoutez une ligne du
type

:</para>

<programlisting format="linespecific">
ChannelName = "Type"
</programlisting>

<para>

Ceci ajoute une sortie appelée "ChannelName", de
type "Type". Ceci doit être "network" ou "file". Comme les entrées, les
sorties doivent être configurées dans leur propre section

.</para>

<para>

Exemple

:</para>

<programlisting format="linespecific">
BEGIN "Channels"
  localhost  = "network"
  client1    = "network"
  client2    = "network"
  multicast1 = "network"
  multicast2 = "network"
  localfile  = "file"
END
</programlisting>

</sect2>

<sect2><title>

Configuration des sorties

</title>

<para>

Pour chaque sortie déclarée dans la section
"Channels", vous devez ajouter une section avec le nom correspondant.
La syntaxe de cette section dépend du type de la sortie
correspondante

.</para>

<para>

Pour configurer une sortie network, ajoutez une
section dans le format suivant

:</para>

<programlisting format="linespecific">
BEGIN "NetChannelName"
  Domain    = "Domain"
  Type      = "Type"
  SrcHost   = "SourceHost"
  SrcPort   = "SourcePort"
  DstHost   = "DestHost"
  DstPort   = "DestPort"
  TTL       = "ttl"
  Interface = "Interface"
END
</programlisting>

<itemizedlist>

<listitem><para>

"NetChannelName" est le nom de la sortie que vous
configurez

.</para></listitem>

<listitem><para>

"Domain" est soit "inet4", pour des adresses IPv4,
ou "inet6", pour des adresses IPv6 (le défaut est "inet4")

.</para></listitem>

<listitem><para>

"Type" est soit, "unicast", "broadcast" ou
"multicast" (le défaut est "unicast"), selon ce que vous désirez faire,
et votre adresse "DstHost")

.</para></listitem>

<listitem><para>

"SourceHost" est l'adresse IP (ou le nom DNS)
depuis lequel VLS va envoyer le flux

.</para></listitem>

<listitem><para>

"SourcePort" est le port UDP depuis lequel le flux
sera envoyé

.</para></listitem>

<listitem><para>

"DestHost" est l'adresse IP (ou le nom DNS) vers
lequel le flux sera envoyé

.</para></listitem>

<listitem><para>

"DestPort" est le port UDP vers lequel le flux sera
envoyé (le défaut est "1234")

.</para></listitem>

<listitem><para>

"TTL" est une option utile seulement si "Type" est
"multicast" (le défaut est "0"). Vous pouvez l'utiliser pour modifier le
nombre de routeur que le paquet pourra téléviser

.</para></listitem>

<listitem><para>

"Interface" est une option qui ne fonctionne que
sous GNU/Linux, pour forcer l'interface réseau de sortie ("eth1", par
exemple). Vous devez être root pour utiliser cette option

.</para></listitem>

</itemizedlist>

<note><para>

"SrcHost" et "SrcPort" sont optionnels (si vous ne
les réglez pas, VLS n'attachera pas la socket)

.</para></note>

<para>

Pour configurer une sortie file, ajoutez une section
dans le format suivant

:</para>

<programlisting format="linespecific">
BEGIN "FileChannelName"
  FileName = "file"
  Append   = "append"
END
</programlisting>

<para>

"FileChannelName" est le nom de la sortie file que
vous configurez. "file" est le nom du fichier où le flux sera stocké (le
défaut est "fileout.ts"). "append" est soit "yes", soit "no", et indique
si VLS ajoute le flux à la fin du fichier, ou le réécrire

.</para>

<para>

Exemple

:</para>

<programlisting format="linespecific">
BEGIN "localhost"         # The client is on the same host as the server
  DstHost = "localhost"
  DstPort = "1234"
END

BEGIN "client1"           # unicast towards client1
  DstHost = "192.168.1.2"
  DstPort = "1234"
END

BEGIN "client2"           # unicast towards client2 in IPv6
  Domain  = "inet6"
  DstHost = "3ffe:ffff::2:12:42"
  DstPort = "1234"
END

BEGIN "multicast1"         # multicast streaming
  Type    = "multicast"
  DstHost = "239.2.12.42"
  DstPort = "1234"
  TTL     = "2"
END

BEGIN "multicast2"         # multicast streaming in IPv6
  Domain  = "inet6"
  Type    = "multicast"
  DstHost = "ff08::1"
  DstPort = "1234"
  TTL     = "12"
END

BEGIN "localfile"         # file output
  FileName = "stream.ts"
  Append   = "no"
END
</programlisting>

<caution><para>

Si vous utililsez Windows, vous devez spécifier les
valeurs "SrcHost" et "SrcPort". Par exemple

:</para>

<programlisting format="linespecific">
BEGIN "client1"         # The client is on the same host as the server
  SrcHost = "192.168.1.1"  # IP of VLS
  SrcPort = "1242"         # Source port : the value is not important
  DstHost = "192.168.1.2"  # IP of the client
  DstPort = "1234"
END
</programlisting>

</caution>

</sect2>

<sect2><title>

Configuration des programmes

</title>

<para>

Comme expliqué précédemment, vous devez définir
les programmes. Chacun est un flux MPEG (un fichier, par exemple).
Pour cela, vous devez ajouter une section "Input" dans votre fichier
<filename moreinfo="none">vls.cfg</filename>. Chaque section Input doit avoir la syntaxe
suivante

:</para>

<programlisting format="linespecific">
BEGIN "Input"
  FilesPath    = "path"
  ProgramCount = "count"
END
</programlisting>

<para>

"path" est le chemin où vos fichiers MPEG sont
situés (par défaut, c'est le répertoire courant). "count" est le nombre
de programmes ("0" par défaut)

.</para>

<para>

Pour chaque programme, vous devez ajouter une
section avec la syntaxe suivante

:</para>

<programlisting format="linespecific">
BEGIN "number"
  Name     = "name"
  Type     = "type"
  FileName = "file"
  Device   = "device"
END
</programlisting>

<itemizedlist>

<listitem><para>

"number" est le numéro de programme: le premier est
1, le second 2, ...

</para></listitem>

<listitem><para>

"name" est le nom du programme, que vous utiliserez
pour lancer le programme (voir la section suivante)

.</para></listitem>

<listitem><para>

"type" peut être "Mpeg1-PS", "Mpeg2-PS", "Mpeg2-TS",
ou "DVD". Si votre flux est stocké dans un fichier MPEG (*.mpeg,
*.mpg, *.vob, and so on...), il es probablement au format Mpeg1-PS ou
Mpeg2-PS

.</para></listitem>

<listitem><para>

si type n'est pas "dvd", VLS supposera que votre
fichier est stocké dans le fichier "file", dans le répertoire "path" (où
"path" est le répertoire défini dans la section "Input")

.</para></listitem>

<listitem><para>

dans le cas contraire, la variable "Device" sera
utilisée à la place de "FileName". Elle représente l'adresse de votre
lecteur de DVD ("/dev/hdc" ou "/dev/cdrom", par exemple). Vous pouvez
également jouer un DVD copié sur un disque dur: "device" est alors
l'endroit où les fichiers .vob sont stockés ("/mnt/data/VIDEO_TS", par
exemple)

.</para></listitem>
</itemizedlist>

<note>
&streamable-mpeg-file;
</note>

<note><para>

Pour pouvoir lire des DVDs, vous devez compiler VLS
avec le support des DVD, qui utilise libdvdread et libdvdcss. Vous devez
avoir l'accès en lecture <emphasis>et</emphasis> en écriture à votre
lecteur de DVD

.</para></note>


<para>

Exemple complet

:</para>

<programlisting format="linespecific">
BEGIN "Input"
  FilesPath = "/home/videolan/streams"
  ProgramCount = "4"
END

BEGIN "1"     # MPEG2 stream stored in /home/videolan/streams/Dolby.vob
  Name     = "dolby"
  FileName = "Dolby.vob"
  Type     = "Mpeg2-PS"
END

BEGIN "2"     # another file
  Name     = "canyon"
  FileName = "Dolby_Canyon.vob"
  Type     = "Mpeg2-PS"
END

BEGIN "3"     # DVD
  Name     = "dvd"
  Device   = "/dev/cdrom"
  Type     = "Dvd"
END

BEGIN "4"     # DVD stored on a hard disk
  Name     = "matrix"
  Device   = "/mnt/data/matrix/VIDEO_TS"
  Type     = "Dvd"
END
</programlisting>

</sect2>
</sect1>
</chapter>
