/************************* CSS Hacks *************************/

/* Clearing floats easily, for all browsers */
.clearfix:after { content: "."; visibility: hidden; height: 0;
		  display: block;clear: both; }
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

/***************** General Styles *********************/

html, body {
	width: 100%;
	min-width: 750px;
	border: 0; margin: 0; padding: 0;
}

body { 	background: #fff url(http://download.videolan.org/images/bg.png) repeat-x top; 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px; color: #333; text-align: center;
}

img { border: none;}

ol, ul {
	list-style-type: none;
	margin: 0; padding: 0;
}

ul.bullets {
	list-style-type: disc; 
	padding-left: 1em; margin-bottom: 1em;
}

form { margin: 0; padding: 4px 0;}
			
table {	width: 100%; margin: 0 0 25px 0;
	padding: 0; border-collapse: collapse;
}

a, a:link, a:visited { color: #f60; }
a:hover { color: #333; }

h1 {	font-family: sans-serif, Helvetica, Arial;
	font-weight: normal; color: #333; font-size: 28px;
	margin: 0;padding: 35px 0 12px;
	line-height: 19px;
}

h2 { 	color: #2D58AE; font-weight: bold; font-size: 14px;
	margin: 0; padding: 25px 0 4px;	line-height: 19px;
}

h2 a, h2 a:link, h2 a:visited {
	color: #2D58AE;
	text-decoration: none;
}

h2 a:hover {color: #F60;}

h3 {	font-family: sans-serif, Helvetica, Arial;
	color: #333;font-weight: bold;font-size: 16px; 
	margin: 0; padding: 10px 0 4px;	line-height: 19px;
	border-bottom: 2px dotted #E4E7E9;
}

code { font-family: monospace, fixed, Courier; }

select {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal; font-size: 10px;color: #039;
}

p.center { text-align:center;} 
img.center { display: block; margin: auto; }
.hidden { display:none; }
.clearme { clear:both; }
.date { color: #75818A;	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;}

/************************ Header ***********************/

#navmenucontainer, #submenucontainer { width: 100%; margin: 0; padding: 0;}

/* Main menu */

#navmenucontainer { height: 28px; }

#navmenu { float: left; padding: 4px 0;	vertical-align: middle;}
#navmenu li { display: inline; margin: 0 16px 0 0; padding: 0; }
#navmenu li a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold; font-size: 11px; text-decoration: none;color: #039;
}
#navmenu li a:hover { color: #004;text-decoration: none;}

#mirror {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal; font-size: 11px;color: #039;
	float: right; background: transparent;
}

/* Submenu */
#submenucontainer { text-align: left; height: 47px;}
#submenucontainer ul { padding: 0; }
#submenucontainer ul li { display: inline; }
#submenucontainer ul li a {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-weight: normal; color: #2D58AE;font-size: 17px;
	text-decoration: none;
/*	text-shadow: 0.2em 0.2em;*/
	float: left; padding: 14px 20px 10px 0;
	text-transform: lowercase;
}

#submenu li a:hover, #submenu li a:active {	
	color: #2E3A6B;	text-decoration: underline;
}

#pagecontainer { min-width: 780px; width: 86%; height: 100%; margin: 0 auto; }

#header { margin: 0; padding: 0; }

/******************* Main page content - Global ***********************/

#maincontent {text-align: left; min-width: 780px; }
#maincontent table { border: none; table-layout: fixed; }
#maincontent table a { color: #2D58AE; }
#maincontent table a:hover, #maincontent table a:active { color: #000;}

#maincontent table th {
	font-size: 11px; text-align: left;
	padding: 0 7px; line-height: 2.5em;
	background: #D4E0F7;
	border-bottom: 1px solid #FFF;
}

#maincontent table th img { padding: 3px 0; vertical-align: middle; }
#maincontent table th a { text-decoration: none; }

#maincontent table th.th-os { 
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 10%;
}

#maincontent table th.th-os:hover {
	overflow: visible;
}

#maincontent table td { 
	font-size: 11px;
	padding: 5px 7px;
	line-height: 135%;
	border-top: 1px solid #D4E0F7;
	background: #F4F7FD;
	vertical-align: top;
}

#maincontent table td.yes { color: #333333; background: #EAF0FB; width: 10%; }
#maincontent table td.no { color: #333333; background: #F3F6FD; width: 10%; }
#maincontent table td.partial { color: #333333; background: #E1E9F9; width: 10%; }
#maincontent table td.none { background: #F3F6FD; width: 10%; }
#maincontent table td.type { background: #EAF0FB; width: 20%; }
#maincontent table td.category { background: #F3F6FD; width: 10%; }

#maincontent table th.type { width: 20%; }
#maincontent table th.category { width: 10%; }
	
#left {	float:left;width: 56%; padding-bottom: 55px; }
#right { float:right; width: 40%; padding-bottom: 55px; }
#fullwidth { padding-bottom: 55px; float:left; }

#left p, #right p, #fullwidth p {
	margin: 0; padding: 0 0 10px 0;	line-height: 135%;
}

/* Colored panels */

.panel-orange {
	width: 100%; margin: 25px auto 0;
	min-width: 200px;max-width: 792px;
	color:#C60;
}
.panel-orange .hd .c,
.panel-orange .ft .c { height: 8px; font-size: 1px; }

.panel-orange .hd {
	background: transparent url(http://download.videolan.org/images/panel-orange/tl.gif) no-repeat 0 0;
	margin-right: 8px; /* space for right corner */
}
.panel-orange .hd .c {
	background: transparent url(http://download.videolan.org/images/panel-orange/tr.gif) no-repeat right;
	margin-right: -8px; /* space for right corner */
}

.panel-orange .bd {
	background: transparent url(http://download.videolan.org/images/panel-orange/ml.gif) repeat-y 0 0;
	margin-right: 8px;
}
.panel-orange .bd .c {
	margin-right: -8px;
	padding: 10px;
	background: transparent url(http://download.videolan.org/images/panel-orange/mr.gif) repeat-y right;
}
 
.panel-orange .ft {
	background: transparent url(http://download.videolan.org/images/panel-orange/bl.gif) no-repeat 0 0;
	margin-right: 8px;
}
.panel-orange .ft .c {
	background: transparent url(http://download.videolan.org/images/panel-orange/br.gif) no-repeat right;
	margin-right: -8px;
}

.panel-orange-bullet { 	padding: 0;line-height: 19px; }
.panel-orange-bullet li {
	background: url(http://download.videolan.org/images/bullet-orange.png) left top no-repeat;
	padding: 0 0 4px 25px;
}

.panel-orange h1 { margin: -8px 0 0;padding: 0 0 4px;
		   color: #C60;	font-size: 17px;font-weight: bold; 
}
.panel-orange p { margin: 0; padding: 0; }
.panel-orange a, .panel-orange a:visited { color: #C60; }
.panel-orange a:hover, .panel-orange a:active { color: #000; }


.panel-blue {
	width: 100%;margin: 25px auto 0;
	min-width: 200px;max-width: 792px;
	color: #039;
}

.panel-blue .hd .c,
.panel-blue .ft .c { height: 8px; font-size: 1px; }

.panel-blue .hd {
	background: transparent url(http://download.videolan.org/images/panel-blue/tl.gif) no-repeat 0 0;
	margin-right: 8px; /* space for right corner */
}
.panel-blue .hd .c {
	background: transparent url(http://download.videolan.org/images/panel-blue/tr.gif) no-repeat right;
	margin-right: -8px; /* space for right corner */
}

.panel-blue .bd {
	background: transparent url(http://download.videolan.org/images/panel-blue/ml.gif) repeat-y 0 0;
	margin-right: 8px;
}
.panel-blue .bd .c {
	margin-right: -8px;
	padding: 10px;
	background: transparent url(http://download.videolan.org/images/panel-blue/mr.gif) repeat-y right;
}

.panel-blue .ft {
	background: transparent url(http://download.videolan.org/images/panel-blue/bl.gif) no-repeat 0 0;
	margin-right: 8px;
}
.panel-blue .ft .c {
	background: transparent url(http://download.videolan.org/images/panel-blue/br.gif) no-repeat right;
	margin-right: -8px;
}

.panel-blue-bullet { padding: 0 0 20px 0;line-height: 19px;}
.panel-blue-bullet li {
	background: url(http://download.videolan.org/images/bullet-blue.png) left top no-repeat;
	padding: 0 0 4px 25px;
}

.panel-blue h1 { margin: -8px 0 0; padding: 0 0 4px; 
		 color: #2D58AE; font-size: 17px; font-weight: bold;
}
.panel-blue p { margin: 0;padding: 0; }
.panel-blue hr { border: 1px solid #D4E0F7; }
.panel-blue a, .panel-blue a:visited { color: #039; }
.panel-blue a:hover, .panel-blue a:active { color: #000; }

.panel-gray {
	 width: 100%; margin: 25px auto 0;
	min-width: 200px; max-width: 792px;
	color:#333;
}

.panel-gray .hd .c,
.panel-gray .ft .c { height: 8px; font-size: 1px;}

.panel-gray .hd {
	background: transparent url(http://download.videolan.org/images/panel-gray/tl.gif) no-repeat 0 0;
	margin-right: 8px; /* space for right corner */
}
.panel-gray .hd .c {
	background: transparent url(http://download.videolan.org/images/panel-gray/tr.gif) no-repeat right;
	margin-right: -8px; /* space for right corner */
}

.panel-gray .bd {
	background: transparent url(http://download.videolan.org/images/panel-gray/ml.gif) repeat-y 0 0;
	margin-right: 8px;
}
.panel-gray .bd .c {
	margin-right: -8px;
	padding: 10px;
	background: transparent url(http://download.videolan.org/images/panel-gray/mr.gif) repeat-y right;
}
 
.panel-gray .ft {
	background: transparent url(http://download.videolan.org/images/panel-gray/bl.gif) no-repeat 0 0;
	margin-right: 8px;
}
.panel-gray .ft .c {
	background: transparent url(http://download.videolan.org/images/panel-gray/br.gif) no-repeat right;
	margin-right: -8px;
}

.panel-gray-bullet { padding: 0; line-height: 19px; }
.panel-gray-bullet li {
	background: url(http://download.videolan.org/images/bullet-black.png) left top no-repeat;
	padding: 0 0 4px 25px;
}

.panel-gray h1 { margin: -8px 0 0; padding: 0 0 4px; 
		 color: #75818A; font-size: 17px;font-weight: bold;
}
.panel-gray p {	margin: 0; padding: 0; }
.panel-gray a, .panel-gray a:visited { color: #2D58AE; }
.panel-gray a:hover, .panel-gray a:active { color: #000; }

/************** Main page content - Specific styles ******************/

/* Flags */
.mirror li { padding-left: 25px; }
#maincontent table td.au 
 { padding-left:2em; background: url(http://download.videolan.org/images/flags/au.png) left no-repeat; }
#maincontent table td.fr
 { padding-left:2em;background: url(http://download.videolan.org/images/flags/fr.png) left no-repeat; }
#maincontent table td.nl
 { padding-left:2em; background: url(http://download.videolan.org/images/flags/nl.png) left no-repeat; }
#maincontent table td.se
 { padding-left:2em;background: url(http://download.videolan.org/images/flags/se.png) left no-repeat; }
#maincontent table td.tw
 { padding-left:2em;background: url(http://download.videolan.org/images/flags/tw.png) left no-repeat; }
#maincontent table td.us
 { padding-left:2em;background: url(http://download.videolan.org/images/flags/us.png) left no-repeat;}
#maincontent table td.de
 { padding-left:2em;background: url(http://download.videolan.org/images/flags/de.png) left no-repeat;}
#maincontent table td.cz
 { padding-left:2em;background: url(http://download.videolan.org/images/flags/cz.png) left no-repeat;}
#maincontent table td.ru
 { padding-left:2em;background: url(http://download.videolan.org/images/flags/ru.png) left no-repeat;}
#maincontent table td.jp
 { padding-left:2em;background: url(http://download.videolan.org/images/flags/jp.png) left no-repeat;}
#maincontent table td.am
 { padding-left:2em;background: url(http://download.videolan.org/images/flags/am.png) left no-repeat;}

/* DL */
.download {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 20px;
	margin: 10px 0; 
}
.download br { line-height: 30px; }

.more {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;text-align: right;
}

.os { padding: 0 0 75px 15px; line-height: 20px; }
.otheros, .mirror { padding: 0 0 35px 15px; line-height: 20px; }

.os li, .otheros li {
	background: url(http://download.videolan.org/images/12-em-down.png) left no-repeat;
	padding-left: 25px;
}

.os1 { float:left; }
.os2 { float:left;margin-left:3em; }

/* Pictures */
.videolan-logo { float: left; width: 120px; height: 45px; }

.vlc-screenshot {
	float: right; width: 300px; height: 200px;
	margin-top: -25px; padding-left: 40px;
}

.vlc-logo {
	float: left;width: 64px;height: 64px;
	margin-left: -5px; padding-bottom: 15px;
	background: url(http://download.videolan.org/images/vlc-logo.gif) left top no-repeat;
}

div.screenshot{ float:left; margin-right: 3em; text-align:center; }

/* Misc */
.notes { font-size: 9px; }

.notes ol {
	list-style-type: decimal;
	padding-left: 30px;
	margin-bottom: 1em;
}

.notes li {
	line-height: 135%;
	padding: 0 0 4px 5px;
	list-style-position: outside;
}

.vlcversion { font-size: 16px; }
#vlccounter { font-weight: bold; }

.note { background: #C9FFB4; }

#description { padding: 0 0 15px; border-bottom: 2px dotted #E4E7E9;}
#description p { margin: 0; padding: 0 0 15px 0; line-height: 19px; }
#description ul { padding: 35px 0 15px; line-height: 19px;}

.feature-icon-container {
	float: left;
	border-top: 2px dotted #E4E7E9;
	padding-top: 5px;
	width: 100%;
}

.feature-icon li {
	display: inline;
	list-style-type: none;
	padding-right: 20px;
}

#disclaimer {
    font-style: italic;
}

a.en {
    padding-right: 18px;
         background: transparent url(http://download.videolan.org/images/flags/us.png) no-repeat top right;
}

.installbtn {
	float: right;
	width: 135px;
	height: 38px;
	text-align: center;
	background: transparent url(http://download.videolan.org/images/inst_btn.png) no-repeat scroll
	top left;
}

.installbtn a {
	  display: block;
	  height: 38px;
	  line-height: 36px;
	  margin-left: 25px;
	  text-decoration: none!important;
}

.blue-bullet { padding: 0 0 20px 0;line-height: 19px;}
.blue-bullet li {
	background: url(http://download.videolan.org/images/bullet-blue-trans.png) left top no-repeat;
	padding: 0 0 4px 25px;
}


/************************ Footer Layout ****************************/

#spacer {
	float: left;
	width: 0;height: 95%;
	padding: 0;margin: 0;
	font-size: 1px; /* to make sure width is not overridden */
}

#footer {	color: #75818A;	background: #E4E7E9;
		font-size: 11px;text-align: center;
		clear: both; height: 40px; margin: 0;padding: 15px;
		border-top: 1px solid #C8CDD0;
}

#footer a {
	color: #75818A;
	text-decoration: underline;
}

#footer a:hover {
	color: #333;
	text-decoration: none;
}

#footer p { margin: 0;padding: 0;line-height: 20px; }
