# Big nasty kludge
AddType application/x-httpd-php .html

RewriteEngine on

AddType text/html .html

# répertoire/ -> répertoire/index.html
RewriteRule ^(.*)/$ include/rewrite.php3?dir=$1&page=index

# fichier.html -> ../include/default.php3?page=fichier
RewriteRule (^vlc/vlc/doc/.*html$) $1 [L]
RewriteRule ^([^/]+)\.html$ include/rewrite.php3?page=$1

# rep/fichier.html -> ../include/default.php3?dir=rep&page=fichier
RewriteRule ^(.*)/([^/]+)\.html$ include/rewrite.php3?dir=$1&page=$2

# changelog
RewriteRule ^(.*)/ChangeLog$ include/rewrite.php3?dir=$1&changelog=1
RewriteRule ^(.*)/devel_doc.html$ /$1/
