 body            { margin-left: 0; margin-top: 0; margin-right:0;
                  margin-bottom: 0; }
p, td, th, body, h1 { font-family: Verdana,Arial,Helvetica,sans-serif; }
p, td, body       { font-size: 8pt; }
th              { font-weight:bold; font-size: 10pt;}
th.menu         { font-size: 10pt; background-color: #190;
                  color: #df4; font-weight: bold; }
td.menu         { border-left: 1px solid #190; border-right: 1px
                  solid #190; border-top: 1px solid #190;
                  border-bottom: 3px solid #190; background-color: #dfd}
.background     { background-color: #FFFFFF;
                  color: #190; }
p               { margin-left: 5pt; margin-right: 5pt; }
p.menu          { margin-top: 5pt; margin-bottom: 5pt; }
/*a.menu:link     { color: #FFFFFF; text-decoration: none; }
a.menu:visited  { color: #FFFFFF; text-decoration: none; }
a.menu:hover    { color: #FFDD44; text-decoration: underline; font-weight:bold}*/

/* Styles used for the features tables */
td.yes {
  color: black;
  background-image: none;
  background-color: #cfc;
  vertical-align: middle;
  text-align: center;
}
td.no {
  color: black;
  background-image: none;
  background-color: #fcc;
  vertical-align: middle;
  text-align: center;
}
td.partial {
  color: black;
  background-image: none;
  background-color: #ffa;
  vertical-align: middle;
  text-align: center;
}
td.none {
  color: black;
  background-image: none;
  background-color: #fff;
  vertical-align: middle;
  text-align: center;
}
td.type {
  color: black;
  background-image: none;
  background-color: #eef;
  vertical-align: middle;
}
td.category {
  color: black;
  background-image: none;
  background-color: #ccf;
  vertical-align: middle;
}
td.code {
  color: black;
  background-image: none;
  background-color: #eef;
  vertical-align: middle;
}

div.task {
  background-color:#dfd;
  border:1pt #190 solid;
  margin:1em;
}
