#maincontent table td.am
 { padding-left:2em; background: url(http://images.videolan.org/images/flags/am.png) left no-repeat; }
#maincontent table td.au
 { padding-left:2em; background: url(http://images.videolan.org/images/flags/au.png) left no-repeat; }
#maincontent table td.be
 { padding-left:2em; background: url(http://images.videolan.org/images/flags/be.png) left no-repeat; }
#maincontent table td.br
 { padding-left:2em; background: url(http://images.videolan.org/images/flags/br.png) left no-repeat; }
#maincontent table td.ca
 { padding-left:2em; background: url(http://images.videolan.org/images/flags/ca.png) left no-repeat; }
#maincontent table td.ch
 { padding-left:2em; background: url(http://images.videolan.org/images/flags/ch.png) left no-repeat; }
#maincontent table td.cz
 { padding-left:2em; background: url(http://images.videolan.org/images/flags/cz.png) left no-repeat; }
#maincontent table td.de
 { padding-left:2em; background: url(http://images.videolan.org/images/flags/de.png) left no-repeat; }
#maincontent table td.es
 { padding-left:2em; background: url(http://images.videolan.org/images/flags/es.png) left no-repeat; }
#maincontent table td.fr
 { padding-left:2em; background: url(http://images.videolan.org/images/flags/fr.png) left no-repeat; }
#maincontent table td.gb
 { padding-left:2em; background: url(http://images.videolan.org/images/flags/gb.png) left no-repeat; }
#maincontent table td.gr
 { padding-left:2em; background: url(http://images.videolan.org/images/flags/gr.png) left no-repeat; }
#maincontent table td.ie
 { padding-left:2em; background: url(http://images.videolan.org/images/flags/ie.png) left no-repeat; }
#maincontent table td.nc
 { padding-left:2em; background: url(http://images.videolan.org/images/flags/nc.png) left no-repeat; }
#maincontent table td.nl
 { padding-left:2em; background: url(http://images.videolan.org/images/flags/nl.png) left no-repeat; }
#maincontent table td.nz
 { padding-left:2em; background: url(http://images.videolan.org/images/flags/nz.png) left no-repeat; }
#maincontent table td.pt
 { padding-left:2em; background: url(http://images.videolan.org/images/flags/pt.png) left no-repeat; }
#maincontent table td.ru
 { padding-left:2em; background: url(http://images.videolan.org/images/flags/ru.png) left no-repeat; }
#maincontent table td.se
 { padding-left:2em; background: url(http://images.videolan.org/images/flags/se.png) left no-repeat; }
#maincontent table td.tw
 { padding-left:2em; background: url(http://images.videolan.org/images/flags/tw.png) left no-repeat; }
#maincontent table td.ua
 { padding-left:2em; background: url(http://images.videolan.org/images/flags/ua.png) left no-repeat; }
#maincontent table td.us
 { padding-left:2em; background: url(http://images.videolan.org/images/flags/us.png) left no-repeat; }
#maincontent table td.za
 { padding-left:2em; background: url(http://images.videolan.org/images/flags/za.png) left no-repeat; }
