/* =================================== CSS RESET =============================== */
@import "style/theme";
@import "style/mixins";
@import "bootstrap/mixins/vendor-prefixes";

*
{
    padding: 0px;
    margin: 0px;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
table, caption, tbody, tfoot, thead, tr, th, td ,hr{
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    line-height: inherit;
    color: inherit;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin-bottom: 5px;
}

/* Get rid of the annoying blue outline in Safari */
input[type=text]:focus,
input:focus,
input[type=password]:focus,
textarea:focus {
    outline: 0 none;
}

/* Stop Safari from allowing users to resize the text area controls. */
textarea
{
    resize: none;
}

/* Turn off Firefox's ugly blue border around images inside links */
a img
{
    border: none;
}

ul, li
{
    list-style-type: none;
}

@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 100;
    src: local("Raleway Thin"), local("Raleway-Thin"), url("//themes.googleusercontent.com/font?kit=RJMlAoFXXQEzZoMSUteGWKCWcynf_cDxXwCLxiixG1c") format("truetype");
}

@font-face {
    font-family: "League Gothic";
    font-style: normal;
    src: local( "League Gothic"), url('/style/LeagueGothic.otf') format("opentype");
}
/* =============================== TOP LEVEL STYLES ============================== */

body
{
    background: #fff;
    text-align: center;
    font-family: Arial;
}

a
{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

a:hover
{
    text-decoration: underline;
}

h1
{
    color: black;
    font-size: 30px;
    margin-top: 24px;
}

h1.bigtitle
{
    font-family: "Raleway";
    font-size: 55px;
    margin-left: -5px;
    margin-bottom: 12px;
    letter-spacing: -0.04em;
}

h2
{
    color: black;
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 2px;
}

h3
{
    color: black;
    font-size: 20px;
    margin-top: 6px;
    margin-bottom: 2px;
}

p
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #4D4D4D;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 2px;
    padding: 1px 25px 4px 0;
}

.metaText
{
    font-size: 13px;
    color: #7D7D7D;
    padding-bottom: 10px;
}

#bodyInner dt {
    font-weight: bold;
}
dd { margin-bottom: 6px; }

code { font-family: Courier, monospace, fixed; }

/* Class for links with no underline on hover */
.noUnderline:hover
{
    text-decoration: none;
}

/* Class for clearing everything above */
.clearme { clear:both; }

/* Clearfix class */
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

ul.bullets { padding-left: 2.5em; margin-bottom: 1em; }
ul.bullets li { list-style-type: square; padding-bottom: 3px; }

div.largescreenshot {
    float: left;
    margin: 2px;
    margin-right: 3em;
    text-align: center;
    width: 150px;
}

img.floatImg { float: left; padding-right: 17px; }
img.floatSmallImg { float: left; padding-bottom: 50px; padding-right: 25px; }
/* ================================= DONATE BOX ================================== */

#donate
{
    behavior: url('//images.videolan.org/style/border-radius.htc');
    float: right;
    padding: 4px 8px 5px 12px;
    margin-right: 8px;
    background: #E7E7E7 url('//images.videolan.org/style/images/donateBackground.png') repeat-x fixed top left;
    border: 1px solid #CCC;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
}
html[dir="rtl"] #donate {
    float: left;
    margin-right: 0px;
    margin-left: 10px;
}

#donate .text
{
    border: 1px solid #CCC;
    height: 25px;
    float: left;
    text-align: right;
    padding-right: 25px;
    color: #555;
    font-size: 12px;
    width: 60px;
}

#donate .button
{
    border: 1px solid black;
    background-color: black;
    padding-left: 5px;
    margin-left: 5px;
    padding-right: 5px;
    color: white;
    height: 27px;
    float: left;
    font-size: 12px;
}
html[dir="rtl"] #donate .button {
    margin-left: 0px;
    margin-right: 5px;
}

/* ============================ SOCIAL BUTTONS STYLE =========================== */

#social
{
    float: right;
    padding: 7px;
    height: 85px;
    width: 90px;
}

/* =============================== SIDEBAR STYLE =============================== */

#sidebar
{
    float: right;
    padding-left: 60px;
    width: 280px;
}
#left { float: left; }
#right { float: right; width: 230px; }

#sidebar h1
{
    font-size: 30px;
    color: #0070BB;
}

.blueBox
{
    margin-bottom: 15px;
    border: 1px solid #0070bb;
    padding: 10px;
    background-color: #bad9ea;
}

.redBox
{
    margin-bottom: 15px;
    border: 1px solid #c1272c;
    padding: 10px;
    background-color: #f7d4d4;
}

.greenBox
{
    margin-bottom: 15px;
    border: 1px solid #39b549;
    padding: 10px;
    background-color: #d0eed5;
}

/* =============================== PAGE STRUCTURES =============================== */

#bodyInner
{
    background: #fff;
    padding: 80px 10px 20px;
    width: 980px;
    text-align: left;
    margin: 0 auto;
}

#bodyInner .container
{
    max-width: 980px;
}

/* =================================== DOWNLOAD ELEMENTS ===================================== */

.extraInfoLink
{
    float: left;
    padding-right: 40px;
    padding-top: 10px;
    font-size: 13px;
}

.extraInfoLink:hover
{
    text-decoration: underline;
    float: left;
    padding-right: 40px;
    padding-top: 10px;
    font-size: 13px;
}

#downloadButton
{
    behavior:url(//images.videolan.org/style/border-radius.htc);
    height: 88px;
    position: relative;
    clear: both;
    float: left;
    margin-top: 30px;
    padding: 15px;
    padding-left: 90px;
    background-color: black;
    color: white;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    border: 1px solid white;
    -webkit-box-shadow: 0px 0px 10px #222;
    -moz-box-shadow: 0px 0px 10px #222;
    box-shadow: 0px 0px 10px #222;
}

#downloadButton:hover
{
    text-decoration: none;
}

#downloadDetails
{
    padding-left: 3px;
    color: white;
}

.downloadText
{
    font-size: 36px;
    line-height: 32px;
    letter-spacing: 0.03em;
    padding-bottom: 6px;
    display: block;
    font-family: "trebuchet MS", Arial, "Sans-Serif";
}

.normalButton
{
    behavior:url(//images.videolan.org/style/border-radius.htc);
    height: 26px;
    position: relative;
    float: left;
    margin-top: 8px;
    margin-left: 12px;
    margin-bottom: 12px;
    padding: 15px;
    background-color: black;
    color: white;
    font-size: 26px;
    letter-spacing: 0.03em;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    border: 1px solid white;
    -webkit-box-shadow: 0px 0px 10px #222;
    -moz-box-shadow: 0px 0px 10px #222;
    box-shadow: 0px 0px 10px #222;
    min-width: 60px;
    text-align: center;
}

.normalButton:hover { text-decoration: none; }

/* SUSE */
.installbtn {
    float: right; width: 180px;  height: 60px;
    background: transparent url(//images.videolan.org/images/inst_btn.png) no-repeat scroll top left;
}

.installbtn a {
      display: block; line-height: 36px;
      padding-left: 30px; padding-top: 30px;
      text-decoration: none!important;
}

/* =================================== HOMEPAGE DETAILS ======================================== */

.audienceCallout
{
    color: #777777;
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 18px;
}

.productName
{
    color: #4D4D4D;
    font-size: 18px;
    margin-bottom: 5px;
    display: block;
}

.productDescription
{
    color: #4D4D4D;
    font-size: 12px;
    line-height: 18px;
    display: block;
}

.productDescription li {
list-style-type: circle;
}

.smallProjectImg
{
    float: left;
    padding-left: 7px; padding-right: 23px;
}

html[dir="rtl"] .smallProjectImg
{
    float: right;
    padding-right: 7px; padding-left: 23px;
}

/* ======================================= PROJECT PAGES ======================================= */

.projectMain {
    padding-top: 26px;
    clear: both;
}
.projectLeft {
    float: left;
    width: 500px;
}
html[dir="rtl"] .projectLeft {
    float: right;
}

.projectImg
{
    float: left;
    padding: 10px 110px 0px 40px;
    width: 300px;
}

.projectDescription
{
    clear: both;
    color: rgb(77, 77, 77);
    font-size: 16px;
    line-height: 24px;
    display: block;
    width: 460px;
}
.tricolumn
{
    clear: both;
    padding-top: 60px;
    color: #333333;
}
.onecolumn, .lastcolumn
{
    float: left;
    width: 300px;
}

.onecolumn { padding-right: 40px; }
.tricolumn h1 { padding-bottom: 20px; }

.doublecolumn { margin-left: 10px; width: 100%; margin-top: 30px; }
.doublecolumn td { width: 35%; padding-right: 12%; padding-bottom: 20px;
    vertical-align: top; }
/* ======================================= RSS FEEDS =========================================== */

.title
{
    font-weight: bold;
    font-size: 16px;
}

.date
{
    color: #999;
    font-size: 12px;
    padding-bottom: 10px;
}

.excerpt
{
    color: #999;
    font-size: 13px;
    padding-bottom: 5px;
}

.readMore
{
    display: block;
    padding-right: 40px;
    padding-top: 10px;
    font-size: 13px;
}

.readMore:hover
{
    text-decoration: underline;
    padding-right: 40px;
    padding-top: 10px;
    font-size: 13px;
}

.horizontalRule
{
    clear: both;
    border-top: 1px solid #DDD;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

/* News and other pages with a lot of text */

.longtext { background-color: white;
  padding: 30px;
  border-top: 1px solid #ccc;
}

.news-descr { text-align: justify; direction: ltr; }

/* ======================================== FOOTER ============================================= */

#footer
{
    text-align: left;
    margin-top: 50px;
    background: #e7e7e7;
}
.footer_col
{
     width: 150px; float: left;
 }
.footerHeading
{
    color: #4D4D4D;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    padding-bottom: 10px;
}

#footer ul a
{
    font-size: 11px;
    color: #393938;
}


#footer a
{
    color: #999;
}

#footer p
{
    font-size:  9px;
    line-height: 12px;
}

#footer .container {
    padding-top: 32px;
    padding-bottom: 32px;
}

#footer .row > a, #footer .row > div {
    display: block;
    padding-top: 16px;
    padding-bottom: 16px;
}

.screenshot
{
    cursor: pointer; width: 90px; height: 90px; margin: 5px; float: left;
}

/* LTR vs. RTL */

.ltrFloatRight
{
    float: right;
}

html[dir="rtl"] .ltrFloatRight
{
    float: left;
}

.ltrClearLeft
{
    clear: left;
}

.ltrMarginLeft50
{
    margin-left: 50px;
}

html[dir="rtl"] .ltrMarginLeft50
{
    margin-left: 0px;
    margin-right: 50px;
}

.ltrPaddingLeft124
{
    padding-left: 124px;
}

html[dir="rtl"] .ltrPaddingLeft124
{
    padding-left: 0px;
    padding-right: 124px;
}

html[dir="rtl"] .ltrClearLeft
{
    clear: right;
}

html[dir="rtl"] p
{
    padding-left: 25px;
    padding-right: 0;
}

#nonprofitOrganizationDiv
{
    color: #4D4D4D;
    font-size: 12px;
    padding: 10px 10px 5px 20px;
    line-height: 20px;
    width: 396px;
}

html[dir="rtl"] #nonprofitOrganizationDiv
{
    padding: 10px 20px 5px 10px;
}

html[dir="rtl"] #nav
{
    float: right;
    clear: right;
}

html[dir="rtl"] #nav .link
{
    text-align: right;
    float: right;
}

html[dir="rtl"] #nav .link:hover ul li a
{
    float: left;
}

html[dir="rtl"] #bodyInner
{
    text-align: right;
}

html[dir="rtl"] #footer
{ 
    text-align: right;
}

#social div
{
    text-align: right;
}

html[dir="rtl"] #social
{
    float: left;
}

html[dir="rtl"] #social div
{
    text-align: left;
}

html[dir="rtl"] .footer_col
{
    float: right;
}

.margin-ltrRight50
{
    margin-right: 50px;
}

html[dir="rtl"] .margin-ltrRight50
{
    margin-left: 50px;
}

html[dir="rtl"] .screenshot
{
    float: right;
}

html[dir="rtl"] .projectImg
{
    float: right;
    padding: 10px 40px 0px 110px;
}

html[dir="rtl"] .extraInfoLink
{
    float: right;
    padding-right: 0px;
    padding-left: 40px;
}

html[dir="rtl"] .extraInfoLink:hover
{
    float: right;
    padding-right: 0px;
    padding-left: 40px;
}


html[dir="rtl"] #downloadButton
{
    float: right;
}

html[dir="rtl"] img.floatSmallImg
{
    float: right;
    padding-right: 0px;
    padding-left: 25px;
}


/* I don't want to modify include/os-specific.php as well...*/
html[dir="rtl"] a.extraInfoLink[style]
{
    clear: right;
    float: right;
}


/* Fixing RTL in the menu for the new design */
html[dir="rtl"] #nav .navbar-header
{
    float: right;
}

html[dir="rtl"] #nav ul
{
    float: right;

    left: inherit;
    right: 0;
}

html[dir="rtl"] #nav ul.pull-right
{
    float: left!important;
}

/*
Sorting the li items RTL
*/
html[dir="rtl"] #main-navbar li
{
    float: right;
}


/* ========================== Bootstrap backward compatibility ========================= */
img, .normalButton {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}

/* =================================== New design ====================================== */
.new-design img, .new-design .normalButton {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.header.container {
    position: relative;
}

.new-design #bodyInner {
    overflow: hidden;
    padding: 80px 0 0 0;
    width: 100%;
}

.new-design #bodyInner .container {
    max-width: 1200px;
}

.new-design h1.bigtitle {
    font-size: 46px;
}

.big-vlc-img {
    max-width: 260px;
    display: block;
    margin: 0 auto;
}

.announce-img {
    max-width: 770px;
    display: block;
    margin: 0 auto;
}

.new-design .downloadText {
    font-size: 26px;
    padding-bottom: 0;
    font-family: "Raleway";
}

.new-design .projectDescription {
    width: 100%;
}

/* To work with links */
.media {
    display: block;
}

.media a {
    text-decoration: none;
}

.media.margin-bottom {
    margin: 0 0 15px 0;
}

.media.margin-bottom:last-child {
    margin: 0;
}

/* To respect the original design */
.media.no-img {
    margin-left: 104px;
    margin-top: -21px;
}

#nonprofitOrganizationDiv2 {
    color: #777;
    font-size: 18px;
    text-align: center;
    width: 65%;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* ============================ Global helper =========================== */

.padding-bottom-24 {
    padding-bottom: 24px;
}

.padding-bottom-15 {
    padding-bottom: 15px;
}

.extra-info-link2 {
    text-transform: uppercase;
    font-size: 13px;
}

.extra-info-link2.padding-top {
    display: inline-block;
    padding-top: 10px;
}

/* ============================ SOCIAL BOX =========================== */

.social-box {
    position: absolute;
    top: -12px;
    right: 10px;
}

/* ================================= DONATE BOX ================================== */

.nav.donate-box .donate-dropdown li input {
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.nav.donate-box .donate-dropdown li button {
    height: 30px;
    padding: 5px;
}

.nav.donate-box li {
    display: inline-block;
}

.donate2 input {
    color: #555;
    border: 1px solid #CCC;
    height: 30px;
    margin: 9px 14px;
    width: 60px;
    padding-left: 18px;
    line-height: 28px; /* substract 2px border */
}

.donate2 input.euros {
    background: #fff url("//images.videolan.org/images/euro.png") no-repeat 0 4px;
}

.donate2 input.dollars {
    background: #fff url("//images.videolan.org/images/dollar.png") no-repeat 0 4px;
}

.donate2 button {
    border: 1px solid black;
    background-color: black;
    padding: 10px;
    color: white;
    height: 50px;
    font-size: 14px;
}

/* ============================ BOOTSTRAP ADJUSTMENTS =========================== */
//Fix navbar hides initial content when jumping to anchor.
//Note that according to HTML5 spec, authors should not specify the name attribute on a elements.
:target:before, a[name]:before {
    display: block;
    content: "";
    margin-top: -75px;
    height: 75px;
    visibility: hidden;
}

.btn {
    border-radius: 4px;
}

.navbar-brand { /* firefox bug fix */
    padding: 0;
}

.btn-lg {
    font-size: 26px;
    line-height: 32px;
}

.navbar-default {
    background-color: #fbfbfb;
}

.navbar-brand > img {
    padding: 8px 15px;
    width: 130px; /* set width & height for ie < 9 */
    height: 50px;
    box-sizing: border-box; /* for older design */
}

.v-align {
    @include v-align();
}

/* ============================ VLC Download =========================== */
.download-wrapper {
    padding-bottom: 30px;
    padding-top: 24px;
    h1 {
        margin-top: 0;
    }
}

.download-wrapper .inner {
    display: table;
}

.download-wrapper .btn-group {
    margin-top: 20px;
}

.download-wrapper #downloadDetails {
    clear: both;
    text-align: center;
    color: #777777;
    font-size: 12px;
    padding-top: 10px;
}

.platform-icons.dropdown-menu {
    width: 100%;
    margin-top: -1px;
}

ul.platform-icons.dropdown-menu {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.platform-icons .icon {
    background: #fff url('//images.videolan.org/images/icons/platform-sprite.png') no-repeat;
    background-size: 32px 608px;
}

.platform-icons li:last-child {
    border-bottom: none;
}

.icon.icon-windows {
    background-position: 8px 10px;
}

.icon.icon-windows:hover {
    background-position: 8px -54px;
}

.icon.icon-macosx {
    background-position: 8px -118px;
}

.icon.icon-macosx:hover {
    background-position: 8px -182px;
}

.icon.icon-linux {
    background-position: 8px -246px;
}

.icon.icon-linux:hover {
    background-position: 8px -310px;
}

.icon.icon-android {
    background-position: 8px -374px;
}

.icon.icon-android:hover {
    background-position: 8px -438px;
}

.icon.icon-ios {
    background-position: 8px -502px;
}

.icon.icon-ios:hover {
    background-position: 8px -566px;
}

a.icon {
    padding: 24px;
    display: inline-block;
}

.main-os-icons {
    text-align: center;
    padding-top: 10px;
}

.bg-gray {
    background-color: #f7f7f7;
}

//Features
.features {
    $left: 19px;
    padding: 50px 15px;
    h2 {
        font-size: 26px;
        margin-bottom: 16px;
    }
    p, li, li a {
        color: rgb(77, 77, 77);
        font-size: 16px;
        line-height: 24px;
    }
    /*
    img {
        margin-top: -30px;
    }
    */
    .feat-margin-left {
        margin-left: $left;
    }
    ul {
        margin-left: $left;
        li {
            margin-bottom: 16px;
            &:before {
                content: '';
                display: inline-block;
                height: 16px;
                width: 16px;
                background-image: url('/images/icons/check-outline.svg');
                background-size: contain;
                background-repeat: no-repeat;
                padding-left: $left;
            }
        }
    }
}

.screenshot-4-3-responsive {
    @include aspect-ratio(4, 3);
    display: inline-block;/* no js */
    overflow: hidden;
    margin: 0 5px;
}

.screenshot-small {
    width: 120px;
}

/* Media queries */
@media (max-width: 991px) {
    .features .items {
        padding-top: 26px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .v-align-md {
        @include v-align();
    }
}

@media (min-width: 1200px) {
    .v-align-lg {
        @include v-align();
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .center-sm {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .center-font-sm {
        text-align: center;
    }
    .new-design {
        h1.bigtitle {
            font-size: 36px;
        }
    }
    .row.reorder-sm {
        @include rotate(180deg);
    }
    .row.reorder-sm > [class*="col-"] {
        @include rotate(-180deg);
    }
    html[dir="rtl"] .row.reorder-sm {
        direction: ltr;
    }
    html[dir="rtl"] .row.reorder-sm {
        direction: ltr;
    }
    html[dir="rtl"] .row.reorder-sm > [class*="col-"] {
        direction: rtl; /* Fix the horizontal alignment */
    }
}

@media (max-width: 767px) {
    .donate2 {
        padding-right: 10px;
    }
    .donate2 button {
        height: 30px;
        padding: 5px;
    }
    .center-xs {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .center-font-xs {
        text-align: center;
    }
    .new-design .download-wrapper {
        padding-bottom: 10px;
        .big-vlc-img {
            width: 44px;
            margin: 0 6px 12px -6px;
        }
        h1.bigtitle {
            font-size: 32px;
        }
        .projectDescription {
            font-size: 14px;
        }
    }
    //Fix Bootstrap bug on mobile
    .caret {
        border-top: 4px solid;
    }
    #nonprofitOrganizationDiv2 {
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 16px;
    }
    .row.reorder-xs {
        @include rotate(180deg);
    }
    .row.reorder-xs > [class*="col-"] {
        @include rotate(-180deg);
    }
    html[dir="rtl"] .row.reorder-xs {
        direction: ltr;
    }
    html[dir="rtl"] .row.reorder-xs {
        direction: ltr;
    }
    html[dir="rtl"] .row.reorder-xs > [class*="col-"] {
        direction: rtl; /* Fix the horizontal alignment */
    }
    .carousel-padding-xs {
        padding: 20px 0 0 0;
    }
}
