<?xml version="1.0" encoding="iso-8859-1" ?>

<chapter id="config"><title id="tconfig">Configuration</title>

<para>
<span xml:lang="en">VLS reads its configuration from the
<filename>vls.cfg</filename> configuration file, which
is supposed to be located in the current directory or
in <filename>SYSCONF_DIR/videolan/vls</filename> (where
<emphasis>SYSCONF_DIR</emphasis> is <filename>/usr/local/etc</filename>
if you built and installed VLS by hand, or is <filename>/etc</filename>
if you installed the debian binary package)</span>
<span xml:lang="fr">VLS lit sa configuration depuis le fichier
<filename>vls.cfg</filename>, qui doit se trouver dans le répertoire
courant ou dans <filename>SYSCONF_DIR/videolan/vls</filename> où
<emphasis>SYSCONF_DIR</emphasis> est <filename>/usr/local/etc</filename>
si vous avez installé VLS à la main, ou <filename>/etc</filename> si
vous avez utilisé le package Debian</span>
<span xml:lang="de">VLS liest seine Einstellungen aus der Konfigurationsdatei
<filename>vls.cfg</filename>, welche im aktuellen Verzeichnis oder in
<filename>SYSCONF_DIR/videolan/vls</filename> sein sollte (wobei
<emphasis>SYSCONF_DIR</emphasis> <filename>/usr/local/etc</filename>,
wenn Sie VLS von Hand erstellt und installiert haben, oder <filename>/etc</filename>
ist, wenn Sie das binäre Debianpaket installiert haben.)</span>
.</para>

<para>
<span xml:lang="en">To write a <filename>vls.cfg</filename> file, use the one supplied
with VLS as a start-point</span>

<span xml:lang="fr">Pour écrire un fichier <filename>vls.cfg</filename>, utilisez celui fourni
avec VLS comme point de départ</span>

<span xml:lang="de">Um eine <filename>vls.cfg</filename>-Datei zuschreiben, nehmen Sie
am Besten die mit VLS mitgelieferte als Ausgangspunkt</span>

.</para>

<sect1><title>
<span xml:lang="en">General structure</span>
<span xml:lang="fr">Structure générale</span>
<span xml:lang="de">Allgemeine Struktur</span>
</title>

<para>
<span xml:lang="en">VLS configuration file <filename>vls.cfg</filename>
is divided into sections, and each section may contain several
variables</span>
<span xml:lang="fr">Le fichier de configuration
<filename>vls.cfg</filename> est divisé en section, chacune contenant
plusieurs variables</span>
<span xml:lang="de">Die Konfigurationsdatei <filename>vls.cfg</filename> ist in
Sektionen aufgeteilt. Jede darf mehrere Variablen enthalten</span>
:</para>
<programlisting>
<span xml:lang="en">
BEGIN "FirstSection"
  Variable1 = "value1"
  Variable2 = "value2"
  [...]
END

BEGIN "SecondSection"
  Variable1 = "value1"
  Variable3 = "value3"
  [...]
END
</span>
<span xml:lang="fr">
BEGIN "Section1"
   Variable1 = "valeur1"
   Variable2 = "valeur2"
  [...]
END

BEGIN "Section2"
   Variable1 = "valeur1"
   Variable3 = "valeur3"
  [...]
END
</span> 
<span xml:lang="de">
BEGIN "ErsteSektion"
  Variable1 = "value1"
  Variable2 = "value2"
  [...]
END

BEGIN "ZweiteSektion"
  Variable1 = "value1"
  Variable3 = "value3"
  [...]
END
</span>
[...]
</programlisting>

<para>
<span xml:lang="en">All section names, variable names and values are not
case-sensitive. There can be empty sections and subsections. Comments
must follow a <keycap>#</keycap> character. Some variables have a
default value; it means that you can ommit to declare these variables,
and then they will be given their default value</span>
<span xml:lang="fr">Tous les noms de section, noms de variable, et
valeurs ne sont pas sensibles à la case. Il peut y avoir des sections
et sous-sections vides. Les commentaires doivent être placés après un
<keycap>#</keycap>. Certaines variables ont une valeur par défaut; ce
qui signifie que vous pouvez ne pas les déclarer, leur valeur sera alors
la valeur par défaut</span>
<span xml:lang="de">Alle Sektionsnamen, Variablennamen und Werte sind nicht
case-sensitive, d.h. sie werden unabhängig von Groß oder Kleinschreibung
ausgewertet. Es darf leere Sektionen und Untersektionen geben. Kommentare müssen
einem <keycap>#</keycap> folgen. Einige Variablen haben einen standardmäßigen
Wert. Dies bedeutet, dass Sie die Deklaration dieser Variablen weglassen können. Dann
wird diesen ihr Standardwert zugewiesen</span>
.</para>

</sect1>

<sect1><title>
<span xml:lang="en">Writing a <filename>vls.cfg</filename></span>
<span xml:lang="fr">Ecriture d'un <filename>vls.cfg</filename></span>
<span xml:lang="de">Schreiben einer <filename>vls.cfg</filename>-Datei</span>
</title>

<para>
<span xml:lang="en">Here is an explanation of all the sections you can
find in a <filename>vls.cfg</filename></span>
<span xml:lang="fr">Nous allons maintenant détailler toutes les sections
du fichier <filename>vls.cfg</filename></span>
<span xml:lang="de">Nun folgt eine Erklärung aller Sektionen, die in einer
<filename>vls.cfg</filename>-Datei gefunden werden können</span>
:</para>

<sect2><title>Section "Vls"</title>

<para>
<span xml:lang="en">This section contains application wide settings</span>
<span xml:lang="fr">Cette section contient des paramètres globaux</span>
<span xml:lang="de">Diese Sektion enthält programmweite Einstellungen</span>
.</para>

<programlisting>
LogFile = "name"
</programlisting>

<para>
<span xml:lang="en">Name of VLS log file. If left empty "", then no
logging to files is done. Default is "vls.log"</span>
<span xml:lang="fr">Nom du fichier de log de VLS. Si une valeur vide
("") est entrée, aucun log n'est écrit. Le défaut est "vls.log"</span>
<span xml:lang="de">Der Name der VLS-Logdatei. Wenn er leer ("") gelassen
wird, wird kein Protokoll in einer Datei gespeichert. Der Standardwert ist
"vls.log"</span>
.</para>

<programlisting>
SystemLog = "[disable|enable]"
</programlisting>

<para>
<span xml:lang="en">Logging to the SystemLog. Today, only the SystemLog
using syslogd is implemented: compile with <command>./configure
--enable-syslog</command></span>
<span xml:lang="fr">Log dans le mécanisme de log du système.
Actuellement, seul syslogd est supporté: compilez avec
<command>./configure --enable-syslog</command></span>
<span xml:lang="de">Protokollierung im Log des Systems. Derzeit wird nur
syslog unterstützt. Kompilieren SIe mit <command>./configure
--enable-syslog</command></span>
.</para>

<caution><para>
<span xml:lang="en">If VLS is started as <command>vlsd</command>, then
the following configuration is mandatory</span>
<span xml:lang="fr">Si VLS est lancé en tant que
<command>vlsd</command>, la configuration suivante est requise</span>
<span xml:lang="de">Wenn VLS durch <command>vlsd</command> gestartet
wird, ist die folgende Konfiguration verbindlich</span>
:</para>

<programlisting>
BEGIN "Vls"
  LogFile   = ""
  SystemLog = "enabled"
  ScreenLog = "disabled"
END
</programlisting>

</caution>

<programlisting>
ScreenLog = "[disable|enable]"
</programlisting>

<para>
<span xml:lang="en">Logging to the console</span>
<span xml:lang="fr">Affichage des logs sur la console</span>
<span xml:lang="de">Protokollierung in der Konsole</span>
.</para>

<para>
<span xml:lang="en">Example</span>
<span xml:lang="fr">Exemple</span>
<span xml:lang="de">Beispiel</span>
:</para>

<programlisting>
BEGIN "Vls"
  LogFile   = "vls.log"
  SystemLog = "disable"
  ScreenLog = "enable"
END
</programlisting>

</sect2>

<sect2><title>
<span xml:lang="en">Section "Groups"</span>
<span xml:lang="fr">Section "Groups"</span>
<span xml:lang="de">Sektion "Groups"</span>
</title>

<para>
<span xml:lang="en">In this section, you can define some groups of
users, and which commands these users are allowed to execute. For
each group you want to define, you must add a line in the following
format</span>
<span xml:lang="fr">Dans cette section, vous pouvez définir des groupes
d'utilisateurs et quelles commandes ils sont autorisés à exécuter. Pour
chaque groupe, vous devez ajouter une ligne du type</span>
<span xml:lang="de">In dieser Sektion können Sie Benutzergruppen
und die Befehle, die diese ausführen dürfen, festlegen. Für jede Gruppe,
die Sie festlegen möchten, müssen Sie eine Zeile im folgenden Format
hinzufügen</span>
:</para>

<programlisting>
groupname = "command1|command2|..."
</programlisting>

<para>
<span xml:lang="en">This adds a group "groupname", the users of which
are allowed to execute command1, command2, and so on. At the moment, the
available commands are: help, browse, start, suspend, resume, forward,
rewind, stop, shutdown, logout</span>
<span xml:lang="fr">Ceci ajoute le groupe "groupname", dont les
utilisateurs peuvent exécuter command1,command2, ... Les commandes
disponibles sont: browse, start, suspend, resume, forward, rewind, stop,
shutdown, logout</span>
<span xml:lang="de">Diese fügt eine Gruppe "groupname" hinzu, deren
Nutzer erlaubt ist, command1, command2 usw. auszuführen. Derzeit sind die
verfügbaren Befehle help, browse, start, suspend, resume, forward, rewind, stop,
shutdown und logout</span>
.</para>

<para>
<span xml:lang="en">Example</span>
<span xml:lang="fr">Exemple</span>
<span xml:lang="de">Beispiel</span>
:</para>

<programlisting>
BEGIN "Groups"
  monitor = "help|browse|logout"
  master  = "help|browse|start|resume|suspend|forward|rewind|stop|shutdown|logout"
END
</programlisting>

</sect2>

<sect2><title>
<span xml:lang="en">Section "Users"</span>
<span xml:lang="fr">Section "Users"</span>
<span xml:lang="de">Sektion "Users"</span>
</title>

<para>
<span xml:lang="en">This section contains a list of users allowed to
control VLS through an administration interface. For each user, add a
line in the following format</span>
<span xml:lang="fr">Cette section contient la liste des utilisateurs
autorisés à contrôler VLS via l'interface d'administration. Pour chaque
utilisateur, vous devez ajouter une ligne du type</span>
<span xml:lang="de">Diese Sektion enthält eine Liste von Benutzern, denen
es gestattet ist, VLS durch eine Administrationsoberfläche zu kontrollieren.
Fügen Sie für jeden Benutzer eine Zeile im folgenden Format hinzu</span>
:</para>

<programlisting>
username = "password:groupname"
</programlisting>

<para>
<span xml:lang="en">This adds a user "username", who belongs to the
group "groupname" (defined in the "Groups" section) and can log in with
the password "password"</span>
<span xml:lang="fr">Ceci ajoute un utilisateur "username", qui
appartient au groupe "groupname", défini dans la section "Groups", et
qui peut se logguer avec le mot de passe "password"</span>
<span xml:lang="de">Dies fügt einen Benutzer "username" hinzu, der zur
Gruppe "groupname" gehört, wie sie in der "Groups"-Sektion festgelegt wurde,
und sich mit dem Passwort "password" anmelden kann</span>
.</para>

<itemizedlist>

<listitem><para>
<span xml:lang="en">Under Unix/Linux, the password must be encrypted,
with a tool such as <command>mkpasswd</command>, or with the UNIX
function "crypt"</span>
<span xml:lang="fr">Sous Unix/Linux, le mot de passe doit être encrypté,
avec un outil tel que <command>mkpasswd</command>, ou à l'aide de la
fonction unix "crypt"</span>
<span xml:lang="de">Unter Unix/Linux muss das Passwort mit einem Tool wie
<command>mkpasswd</command> oder mit der Unix-Funktion "crypt"
verschlüsselt werden</span>
.</para></listitem>

<listitem><para>
<span xml:lang="en">Under Windows, the password must be in clear text</span>
<span xml:lang="fr">Sous Windows, le mot de passe doit être en clair</span>
<span xml:lang="de">Unter Windows muss das Passwort in klaren Text sein</span>
.</para></listitem>

</itemizedlist>

<para>
<span xml:lang="en">Example for Unix/Linux</span>
<span xml:lang="fr">Exemple pour Unix/Linux</span>
<span xml:lang="de">Beispiel für Unix/Linux</span>
:</para>

<programlisting>
BEGIN "Users"
  monitor = "3BcKWoiQn0vi6:monitor"       # password is 'monitor'
  admin   = "42BKiCguFAL/c:master"        # password is 'Vir4Gv5S'
END
</programlisting>

</sect2>

<sect2><title>
<span xml:lang="en">Section "Telnet"</span>
<span xml:lang="fr">Section "Telnet"</span>
<span xml:lang="de">Sektion "Telnet"</span>
</title>

<para>
<span xml:lang="en">In this section, you can configure the telnet
administration interface</span>
<span xml:lang="fr">Dans cette section, vous pouvez configure
l'interface d'administration telnet</span>
<span xml:lang="de">In dieser Sektion können Sie die
Telnetadministrationsoberfläche einstellen</span>
.</para>

<programlisting>
LocalPort = "port"
</programlisting>

<para>
<span xml:lang="en">Defines which port will be used for the telnet
server. Default port is "9999"</span>
<span xml:lang="fr">Définit le port qui sera utilisé pour le serveur
telnet. Le port par défaut est "9999"</span>
<span xml:lang="de">Legt fest, welcher Port für den Telnetserver benutzt
werden wird. Der Standardport ist "9999"</span>
.</para>

<programlisting>
Domain = "domain"
</programlisting>

<para>
<span xml:lang="en">Either "inet4" or "inet6" (default is "inet4"). If
you want to use IPv4 addresses, put "inet4", and if you want to use
IPv6, put "inet6"</span>
<span xml:lang="fr">Soit "inet4", soit "inet6" (défaut = "inet4").
Si vous voulez utiliser IPv4, mettez "inet4", et pour l'IPv6, mettez
"inet6"</span>
<span xml:lang="de">Entweder "inet4" oder "inet6" (der Standard ist "inet4").
Wenn Sie IPv4-Adressen benutzen möchten, nehmen Sie "inet4". Wenn Sie
IPv6 benutzen möchten, nehmen Sie "inet6"</span>
.</para>

<programlisting>
LocalAddress = "IP address"
</programlisting>

<para>
<span xml:lang="en">Defines on which IP address the telnet server will
listen for requests. Default address is "0.0.0.0" (or "0::0" with
IPv6)</span>
<span xml:lang="fr">Définit sur quelle adresse IP le serveur Telnet va
écouter les requêtes. L'adresse par défaut est "0.0.0.0" (ou "0::0" avec
l'IPv6)</span>
<span xml:lang="de">Legt fest, auf welcher IP-Adresse der Telnetserver
nach Befehlen hören wird. Die Standardadresse ist "0.0.0.0" (oder "0::0" bei
IPv6)</span>
.</para>

<para>
<span xml:lang="en">Example</span>
<span xml:lang="fr">Exemple</span>
<span xml:lang="de">Beispiel</span>
:</para>

<programlisting>
BEGIN "Telnet"
  LocalPort = "9999"
END
</programlisting>
</sect2>

<sect2><title>
<span xml:lang="en">Section "NativeAdmin"</span>
<span xml:lang="fr">Section "NativeAdmin"</span>
<span xml:lang="de">Sektion "NativeAdmin"</span>
</title>

<para>
<span xml:lang="en">Same syntax as "Telnet". Not used yet</span>
<span xml:lang="fr">Même syntaxe que "Telnet". Inutilisé</span>
<span xml:lang="de">Die gleiche Syntax wie "Telnet". Wird noch nicht benutzt</span>
.</para>

</sect2>

<sect2><title>
<span xml:lang="en">Section "Inputs"</span>
<span xml:lang="fr">Section "Inputs"</span>
<span xml:lang="de">Sektion "Inputs"</span>
</title>

<para>
<span xml:lang="en">In this section, you can define which inputs you
want to use. For each input you need, add a line in the following
format</span>
<span xml:lang="fr">Dans cette section, vous pouvez définir quelles
entrées vous désirez utiliser. Pour chaque entrée, ajoutez une ligne du
type</span>
<span xml:lang="de">In dieser Sektion legen Sie fest, welche Inputs Sie benutzen
möchten. Fügen Sie für jeden Input, den Sie benötigen, eine Zeile im folgenden
Format hinzu</span>
:</para>

<programlisting>
InputName = "Type"
</programlisting>

<para>
<span xml:lang="en">This adds a input named "InputName", the type
of which is "Type". As explained before, there are several types of
input</span>
<span xml:lang="fr">Ceci ajoute une entrée nommée "InputName", de type
"Type". Comme expliqué, il existe plusieurs types d'entrées</span>
<span xml:lang="de">Dies fügt einen Input namens "InputName" hinzu, dessen
Typ "Type" ist. Wie bereits erklärt, gibt es mehrere Arten von Inputs</span>
:</para>

<itemizedlist>

<listitem><para>

<span xml:lang="en">"local" to play a stream from a file or a DVD</span>
<span xml:lang="fr">"local" pour jouer des fichiers ou des DVDs</span>
<span xml:lang="de">"local", um einen Stream aus einer Datei oder einer
DVD wiederzugeben</span>
,</para></listitem>

<listitem><para>
<span xml:lang="en">"video" to play a stream from an MPEG encoding
card</span>
<span xml:lang="fr">"video" pour lire depuis une carte d'encodage
MPEG</span>
<span xml:lang="de">"video", um einen Stream einer MPEG-Kodierungskarte
wiederzugeben</span>
,</para></listitem>

<listitem><para>
<span xml:lang="en">"dvb" to play a stream from a DVB card</span>
<span xml:lang="fr">"dvb" pour lire depuis une carte DVB</span>
<span xml:lang="de">"dvb", um einen Stream einer DVB-Karte wiederzugeben</span>
,</para></listitem>

<listitem><para>
<span xml:lang="en">"v4l" to play a stream from a Video4Linux device</span>
<span xml:lang="fr">"v4l" pour lire depuis un périphérique Video4Linux</span>
<span xml:lang="de">"v4l" um einen Stream eines Video4Linux-Gerätes
wiederzugeben</span>
.</para></listitem>

</itemizedlist>

<para>
<span xml:lang="en">Each input must be configured in its own section
(see next paragraph)</span>
<span xml:lang="fr">Chaque entrée doit être configurée dans sa propre
section (voir la suite)</span>
<span xml:lang="de">Jeder Input muss in seiner eigenen Sektion konfiguriert werden
(siehe den nächsten Abschnitt)</span>
.</para>

<para>
<span xml:lang="en">Example</span>
<span xml:lang="fr">Exemple</span>
<span xml:lang="de">Beispiel</span>
:</para>

<programlisting>
BEGIN "Inputs"
  local1 = "local"
  pvr    = "video"
  dvb1   = "dvb"
  tuner  = "v4l"
END
</programlisting>
</sect2>

<sect2><title>
<span xml:lang="en">Inputs configuration</span>
<span xml:lang="fr">Configuration des entrées</span>
<span xml:lang="de">Konfiguration der Inputs</span>
</title>

<para>
<span xml:lang="en">For each input declared in the "Inputs" section,
excepted "local" inputs, you must add a section with the same name as
the corresponding input. For instance, if you declared an input "pvr",
there should be one section named "pvr" too. The syntax of such sections
depends on the type of the corresponding input</span>
<span xml:lang="fr">Pour chaque entrée déclarée dans la section
"Inputs", à l'exception des entrées "local", vous devez ajouter une
section avec le même nom que l'entrée correspondante. Par exemple,
si vous déclarez une entrée "pvr", il doit également y avoir une
section "pvr". La syntaxe de ces sections dépend du type de l'entrée
correspondante</span>
<span xml:lang="de">Für jeden Input, der in der "Inputs"-Sektion deklariert
wurde, müssen Sie, abgesehen von "local"-Inputs, eine Sektion mit dem gleichen
Namen hinzufügen. Wenn Sie beispielsweise Input "pvr" deklariert haben, sollte
es auch eine Sektion namens "pvr" geben. Die Syntax solcher Sektionen hängt
vom Typus des Inputs ab</span>
.</para>

<para>
<span xml:lang="en">To configure a local input, you don't have to do
anything. Except when another trickplay strategy must be used</span>
<span xml:lang="fr">Pour configurer une entrée locale, vous n'avez
rien à faire, sauf si vous utilisez une stratégie "trickplay"
différente</span>
<span xml:lang="de">Um einen lokalen Input zu konfigurieren, müssen Sie
nichts tun, es sei denn, dass eine andere "trickplay"-Strategie benutzt werden
muss</span>
:</para>

<programlisting>
BEGIN "Local1"
  ProgramCount = "1"
  TrickPlay    = "normal"
END
</programlisting>

<para>
<span xml:lang="en">"Local1" is the name of the local input you want to
configure. "ProgramCount" is the number of programs assigned to this
input. "TrickPlay" is the trickplay strategy that is used by this input
(default is "normal")</span>
<span xml:lang="fr">"Local1" est le nom de l'entrée que vous configurez.
"ProgramCount" est le nombre de programmes correspondant à cette
entrée". "TrickPLay" est la stratégie trickplay utilisée par l'entrée
(le défaut est "normal")</span>
<span xml:lang="de">"Local1" ist der Name des lokalen Inputs, den Sie
konfigurieren möchten. "ProgramCount" ist die Anzahl von Programmen,
die diesem Input zugewiesen worden sind. "TrickPlay" ist die trickplay-Strategie,
die von diesem Input benutzt wird (standardmäßig "normal")</span>
.</para>

<para>
<span xml:lang="en">To configure a video input, add a section in the
following format</span>
<span xml:lang="fr">Pour configurer une entrée vidéo, ajoutez une
section dans ce format</span>
<span xml:lang="de">Um einen Video-Input zu konfigurieren, fügen Sie eine
Sektion im folgenden Format hinzu</span>
:</para>

<programlisting>
BEGIN "VideoInputName"
  Device = "device"
  Type   = "type"
END
</programlisting>

<para>
<span xml:lang="en">"VideoInputName" is the name of the video input you
want to configure. "Device" is the path of the MPEG encoding card you
want to read from (default is "/dev/video"). "Type" is either "Mpeg2-PS"
or "Mpeg2-TS", depending on your device configuration (default is
"Mpeg2-PS")</span>
<span xml:lang="fr">"VideoInputName" est le nom de l'entrée vidéo que
vous configurez. "Device" est l'adresse de la carte d'encodage MPEG
que vous désirez utiliser (le défaut est "/dev/video"). "Type" est
soit "MPEG2-PS", soit "MPEG2-TS", selon la configuration de votre
périphérique (le défaut est "MPEG2-PS")</span>
<span xml:lang="de">"VideoInputName" ist der Name des Video-Inputs, den
Sie konfigurieren möchten. "Device" ist der Pfad der MPEG-Kodierungskarte, von
der Sie lesen möchten (standardmäßig "/dev/video"). "Type" ist entweder
"Mpeg2-PS" oder "Mpeg2-TS", entsprechend Ihrer Geräteinstellung
(standardmäßig "Mpeg2-PS")</span>
.</para>

<para>
<span xml:lang="en">Example for a Hauppauge WinTV-PVR-250 card</span>
<span xml:lang="fr">Exemple pour une carte Hauppauge WinTV-PVR-250</span>
<span xml:lang="de">Beispiel für eine Hauppauge WinTV-PVR-250 - Karte</span>
:</para>

<programlisting>
BEGIN "pvr"
  Device = "/dev/video0"
  Type   = "Mpeg2-PS"
END
</programlisting>

<para>
<span xml:lang="en">To configure a dvb input, add a section in the
following format</span>
<span xml:lang="fr">Pour configurer une entrée dvb, ajoutez une section
du type suivant</span>
<span xml:lang="de">Im einen DVB-Input zukonfigurieren, fügen Sie eine
Sektion im folgenden Format hinzu</span>
:</para>

<programlisting>
BEGIN "DvbInputName"
  DeviceNumber = "devicenumber"
  SendMethod   = "0"
END
</programlisting>

<para>
<span xml:lang="en">"DvbInputName" is the name of the dvb input you
want to configure. Set "SendMethod" to "0" if you to stream the
complete DVB stream and set it to "1" if you only want to stream
the MPEG audio and video streams (default is "0"). "DeviceNumber"
is the number of the DVB device you want to read from (read
from <filename>/dev/ost/dvr&lt;devicenumber&gt;</filename>,
default is ""). The dvb configuration file is defined by the
driver. You can find it in <filename>$HOME/.dvbrc</filename> for
/dev/dvb/adapter0 or in <filename>$HOME/.dvbrc.X</filename> for
<filename>/dev/dvb/adapterX</filename></span>
<span xml:lang="fr">"DvbInputName" est le nom de l'entrée dvb que
vous configurez. Réglez "SendMethod" à "0" si vous désirez diffuser
le flux DVB complet et à "1" si vous désirez diffuser les flux MPEG
audio et vidéo (le défaut est "0"). "DeviceNumber" est le numéro du
périphérique DVB depuis leequel vous désirez lire (lecture depuis
<filename>/dev/ost/dvr&lt;devicenumber&gt;</filename>, le défaut étant
""). Le fichier de configuration de dvb est défini par le périphérique.
Vous pouvez le trouver dans <filename>$HOME/.dvbrc</filename> pour
/dev/dvb/adapter0 ou dans <filename>$HOME/.dvbrc.X</filename> pour
<filename>/dev/dvb/adapterX</filename></span>
.</para>

<para>
<span xml:lang="en">Example</span>
<span xml:lang="fr">Exemple</span>
<span xml:lang="de">Beispiel</span>
:</para>

<programlisting>
BEGIN "dvb1"
  DeviceNumber = "0"
  TrickPlay = "normal"
END
</programlisting>

</sect2>

<sect2><title>
<span xml:lang="en">Section "Channels"</span>
<span xml:lang="fr">Section "Channels"</span>
<span xml:lang="de">Sektion "Channels"</span>
</title>

<para>
<span xml:lang="en">In this section, you can define the channels
(outputs) you want to use. For each channel, write a line in the
following format</span>
<span xml:lang="fr">Dans cette section, vous pouvez définir les
sorties que vous désirez utiliser. Pour chacune, ajoutez une ligne du
type</span>
<span xml:lang="de">In dieser Sektion können Sie die Channel (Outputs),
die Sie benutzen möchten, definieren. Fügen Sie pro Channel eine Zeile im
folgenden Format hinzu</span>
:</para>

<programlisting>
ChannelName = "Type"
</programlisting>

<para>
<span xml:lang="en">This adds a channel named "ChannelName", the type of
which is "Type". "Type" must be either "network" or "file". Like inputs,
channels must be configured in their own section</span>
<span xml:lang="fr">Ceci ajoute une sortie appelée "ChannelName", de
type "Type". Ceci doit être "network" ou "file". Comme les entrées, les
sorties doivent être configurées dans leur propre section</span>
<span xml:lang="de">Dies fügt einen Channel namens "ChannelName" hinzu,
dessen Typ "Type" ist. "Type" muss entweder "network" oder "file". Wie Inputs
müssen Channel in ihrer eigenen Sektion konfiguriert werden</span>
.</para>

<para>
<span xml:lang="en">Example</span>
<span xml:lang="fr">Exemple</span>
<span xml:lang="de">Beispiel</span>
:</para>

<programlisting>
BEGIN "Channels"
  localhost  = "network"
  client1    = "network"
  client2    = "network"
  multicast1 = "network"
  multicast2 = "network"
  localfile  = "file"
END
</programlisting>

</sect2>

<sect2><title>
<span xml:lang="en">Channels configuration</span>
<span xml:lang="fr">Configuration des sorties</span>
<span xml:lang="de">Konfiguration der Channel</span>
</title>

<para>
<span xml:lang="en">For each channel declared in the "Channels" section,
you must add a section with the same name as the corresponding channel.
The syntax of such a section depends on the type of the corresponding
channel</span>
<span xml:lang="fr">Pour chaque sortie déclarée dans la section
"Channels", vous devez ajouter une section avec le nom correspondant.
La syntaxe de cette section dépend du type de la sortie
correspondante</span>
<span xml:lang="de">Für jeden in der "Channels"-Sektion deklarierten Channel
müssen Sie eine Sektion mit dem gleichen Namen hinzufügen. Die Syntax einer
solchen Sektion hängt vom Typus des entsprechenden Channels ab</span>
.</para>

<para>
<span xml:lang="en">To configure a network channel, add a section in the
following format</span>
<span xml:lang="fr">Pour configurer une sortie network, ajoutez une
section dans le format suivant</span>
<span xml:lang="de">Um einen network-Channel zu konfigurieren, fügen Sie
eine Sektion im folgenden Format hinzu</span>
:</para>

<programlisting>
BEGIN "NetChannelName"
  Domain    = "Domain"
  Type      = "Type"
  SrcHost   = "SourceHost"
  SrcPort   = "SourcePort"
  DstHost   = "DestHost"
  DstPort   = "DestPort"
  TTL       = "ttl"
  Interface = "Interface"
END
</programlisting>

<itemizedlist>

<listitem><para>
<span xml:lang="en">"NetChannelName" is the name of the network channel
you want to configure</span>
<span xml:lang="fr">"NetChannelName" est le nom de la sortie que vous
configurez</span>
<span xml:lang="de">"NetChannelName" ist der Name des network-Channels,
den Sie einstellen möchten</span>
.</para></listitem>

<listitem><para>
<span xml:lang="en">"Domain" is either "inet4" if you use IPv4
addresses, or "inet6" if you use IPv6 (default is "inet4")</span>
<span xml:lang="fr">"Domain" est soit "inet4", pour des adresses IPv4,
ou "inet6", pour des adresses IPv6 (le défaut est "inet4")</span>
<span xml:lang="de">"Domain" ist entweder "inet4", wenn Sie IPv4-Adressen
benutzen, oder "inet6", wenn Sie IPv6 benutzen (standardmäßig "inet4")</span>
.</para></listitem>

<listitem><para>
<span xml:lang="en">"Type" is either "unicast", "broadcast" or
"multicast" (default is "unicast"), depending on what you want to do
(and on your "DstHost" address)</span>
<span xml:lang="fr">"Type" est soit, "unicast", "broadcast" ou
"multicast" (le défaut est "unicast"), selon ce que vous désirez faire,
et votre adresse "DstHost")</span>
<span xml:lang="de">"Type" ist entweder "unicast", "broadcast" oder
"multicast" (standardmäßig "multicast"), abhängig von dem, was Sie
machen möchten (und Ihrer "DstHost"-Adresse)</span>
.</para></listitem>

<listitem><para>
<span xml:lang="en">"SourceHost" is the IP address (or DNS name) from
which VLS will send the stream</span>
<span xml:lang="fr">"SourceHost" est l'adresse IP (ou le nom DNS)
depuis lequel VLS va envoyer le flux</span>
<span xml:lang="de">"SourceHost" ist die IP-Adresse (oder der DNS-Name)
von der VLS den Stream senden wird</span>
.</para></listitem>

<listitem><para>
<span xml:lang="en">"SourcePort" is the UDP port from which the stream
will be sent</span>
<span xml:lang="fr">"SourcePort" est le port UDP depuis lequel le flux
sera envoyé</span>
<span xml:lang="de">"SourcePort" ist der UDP-Port von dem der Stream
gesendet werden wird</span>
.</para></listitem>

<listitem><para>
<span xml:lang="en">"DestHost" is the IP address (or DNS name) to which
the stream will be sent</span>
<span xml:lang="fr">"DestHost" est l'adresse IP (ou le nom DNS) vers
lequel le flux sera envoyé</span>
<span xml:lang="de">"DestHost" ist die IP-Adresse (oder der DNS-Name),
an den der Stream gesendet werden wird</span>
.</para></listitem>

<listitem><para>
<span xml:lang="en">"DestPort" is the UDP port to which the stream will
be sent (default is "1234")</span>
<span xml:lang="fr">"DestPort" est le port UDP vers lequel le flux sera
envoyé (le défaut est "1234")</span>
<span xml:lang="de">"DestPort" ist der UDP-Port, an den der Stream
gesendet werden wird (standardmäßig "1234")</span>
.</para></listitem>

<listitem><para>
<span xml:lang="en">"TTL" is an option useful only if "Type" is
"multicast" (default value is "0"). You can use it to increase the TTL
of your multicast packets if they have to cross several routers</span>
<span xml:lang="fr">"TTL" est une option utile seulement si "Type" est
"multicast" (le défaut est "0"). Vous pouvez l'utiliser pour modifier le
nombre de routeur que le paquet pourra téléviser</span>
<span xml:lang="de">"TTL" ist nur dann eine nützliche Option, wenn
"Type" "multicast" ist. Der Standardwert ist "0". Sie können ihn zur
Erhöhung der TTL Ihrer Multicast-Pakete benutzen, wenn diese mehrere
Router überqueren müssen</span>
.</para></listitem>

<listitem><para>
<span xml:lang="en">"Interface" is an option only supported under
GNU/Linux, to force the stream to be sent through a given network
interface ("eth1" for instance) To use this option, you must have
super-user permissions</span>
<span xml:lang="fr">"Interface" est une option qui ne fonctionne que
sous GNU/Linux, pour forcer l'interface réseau de sortie ("eth1", par
exemple). Vous devez être root pour utiliser cette option</span>
<span xml:lang="de">"Interface" ist eine nur unter GNU/Linux unterstützte
Option, um das Senden des Streams über ein bestimmtes Netzwerk-Interface,
beispielsweise "eth1", zu erzwingen. Zur Benutzung dieser Option benötigen
Sie root-Rechte</span>
.</para></listitem>

</itemizedlist>

<note><para>
<span xml:lang="en">"SrcHost" and "SrcPort" are optional (if you don't
set them, VLS will not 'bind' the socket)</span>
<span xml:lang="fr">"SrcHost" et "SrcPort" sont optionnels (si vous ne
les réglez pas, VLS n'attachera pas la socket)</span>
<span xml:lang="de">"SrcHost" und "SrcPort" sind optional (wenn Sie sie nicht
einstellen, wird VLS das Socket nicht "binden"</span>
.</para></note>

<para>
<span xml:lang="en">To configure a file channel, add a section in the
following format</span>
<span xml:lang="fr">Pour configurer une sortie file, ajoutez une section
dans le format suivant</span>
<span xml:lang="de">Um einen file-Channel einzustellen, fügen Sie eine
Sektion im folgenden Format hinzu</span>
:</para>

<programlisting>
BEGIN "FileChannelName"
  FileName = "file"
  Append   = "append"
END
</programlisting>

<para>
<span xml:lang="en">"FileChannelName" is the name of the file channel
you want to configure. "file" is the name of the file where the stream
will be stored (default is "fileout.ts"). "append" is either "yes" or
"no", and indicates whether VLS will append the stream at the end of the
file, or rewrite it</span>
<span xml:lang="fr">"FileChannelName" est le nom de la sortie file que
vous configurez. "file" est le nom du fichier où le flux sera stocké (le
défaut est "fileout.ts"). "append" est soit "yes", soit "no", et indique
si VLS ajoute le flux à la fin du fichier, ou le réécrire</span>
<span xml:lang="de">"FileChannelName" ist der Name des file-Channels,
den Sie einstellen möchten. "file" ist der Name der Datei, in der Stream
gespeichert werden wird (standardmäßig "fileout.ts"). "append" ist entweder
"yes" oder "no" und legt fest, ob VLS den Stream an der Ende der Datei
anhängen oder sie neu schreiben wird</span>
.</para>

<para>
<span xml:lang="en">Example</span>
<span xml:lang="fr">Exemple</span>
<span xml:lang="de">Beispiel</span>
:</para>

<programlisting>
BEGIN "localhost"         # The client is on the same host as the server
  DstHost = "localhost"
  DstPort = "1234"
END

BEGIN "client1"           # unicast towards client1
  DstHost = "192.168.1.2"
  DstPort = "1234"
END

BEGIN "client2"           # unicast towards client2 in IPv6
  Domain  = "inet6"
  DstHost = "3ffe:ffff::2:12:42"
  DstPort = "1234"
END

BEGIN "multicast1"         # multicast streaming
  Type    = "multicast"
  DstHost = "239.2.12.42"
  DstPort = "1234"
  TTL     = "2"
END

BEGIN "multicast2"         # multicast streaming in IPv6
  Domain  = "inet6"
  Type    = "multicast"
  DstHost = "ff08::1"
  DstPort = "1234"
  TTL     = "12"
END

BEGIN "localfile"         # file output
  FileName = "stream.ts"
  Append   = "no"
END
</programlisting>

<caution><para>
<span xml:lang="en">If you use Windows, you should specify the "SrcHost"
and "SrcPort" fields. For example</span>
<span xml:lang="fr">Si vous utililsez Windows, vous devez spécifier les
valeurs "SrcHost" et "SrcPort". Par exemple</span>
<span xml:lang="de">Wenn Sie Windows benutzen, sollten Sie die "SrcHost"
und "SrcPort" Werte festlegen. Zum Beispiel</span>
:</para>

<programlisting>
BEGIN "client1"         # The client is on the same host as the server
  SrcHost = "192.168.1.1"  # IP of VLS
  SrcPort = "1242"         # Source port : the value is not important
  DstHost = "192.168.1.2"  # IP of the client
  DstPort = "1234"
END
</programlisting>

</caution>

</sect2>

<sect2><title>
<span xml:lang="en">Programs Configuration</span>
<span xml:lang="fr">Configuration des programmes</span>
<span xml:lang="de">Konfiguration der Programme</span>
</title>

<para>
<span xml:lang="en">As explained before, you must define the programs.
Each one is a MPEG stream (a file, for example). To do this, you must
add an "Input" section in your <filename>vls.cfg</filename> file. Each
"Input" section must have the following syntax</span>
<span xml:lang="fr">Comme expliqué précédemment, vous devez définir
les programmes. Chacun est un flux MPEG (un fichier, par exemple).
Pour cela, vous devez ajouter une section "Input" dans votre fichier
<filename>vls.cfg</filename>. Chaque section Input doit avoir la syntaxe
suivante</span>
<span xml:lang="de">Wie bereits erklärt, müssen Sie die Programme definieren.
Jeder ist ein MPEG-Stream (eine Datei beispielsweise). Um dies zu tun, müssen
Sie eine "Input"-Sektion Ihrer <filename>vls.cfg</filename>-Datei hinzufügen.
Jede "Input"-Sektion muss die folgende Syntax haben</span>
:</para>

<programlisting>
BEGIN "Input"
  FilesPath    = "path"
  ProgramCount = "count"
END
</programlisting>

<para>
<span xml:lang="en">"path" is the path where your MPEG files are located
(by default it is the current directory). "count" is the number of
programs defined ("0" by default)</span>
<span xml:lang="fr">"path" est le chemin où vos fichiers MPEG sont
situés (par défaut, c'est le répertoire courant). "count" est le nombre
de programmes ("0" par défaut)</span>
<span xml:lang="de">"path" ist der Pfad, in dem Ihre MPEG-Dateien gespeichert
sind (standardmäßig das aktuelle Verzeichnis). "count" ist die Anzahl von
definierten Programmen (standardmäßig "0")</span>
.</para>

<para>
<span xml:lang="en">For each program you want to define, you must add a
section with the following format</span>
<span xml:lang="fr">Pour chaque programme, vous devez ajouter une
section avec la syntaxe suivante</span>
<span xml:lang="de">Für jedes Programm, das Sie definieren möchten, müssen
Sie eine Sektion im folgenden Format hinzufügen</span>
:</para>

<programlisting>
BEGIN "number"
  Name     = "name"
  Type     = "type"
  FileName = "file"
  Device   = "device"
END
</programlisting>

<itemizedlist>

<listitem><para>
<span xml:lang="en">"number" is the program number: the first program
has number 1, the second number 2, and so on</span>
<span xml:lang="fr">"number" est le numéro de programme: le premier est
1, le second 2, ...</span>
<span xml:lang="de">"number" ist die Programm-Nummer: das erste Programm
hat die Nummer 1, das Zweite die Nummer 2, usw.</span>
.</para></listitem>

<listitem><para>
<span xml:lang="en">"name" is the program name, by which you will tell
VLS to start this program (see next chapter "Running VLS")</span>
<span xml:lang="fr">"name" est le nom du programme, que vous utiliserez
pour lancer le programme (voir la section suivante)</span>
<span xml:lang="de">"name" ist der Name des Programms, den Sie zum
Start des Programms benutzen (siehe dazu das nächste Kapitel)</span>
.</para></listitem>

<listitem><para>
<span xml:lang="en">"type" can be "Mpeg1-PS", "Mpeg2-PS", "Mpeg2-TS",
or "DVD". If your stream is stored in a MPEG file (*.mpeg, *.mpg,
*.vob, and so on...), it is probably in Mpeg1-PS or Mpeg2-PS
format</span>
<span xml:lang="fr">"type" peut être "Mpeg1-PS", "Mpeg2-PS", "Mpeg2-TS",
ou "DVD". Si votre flux est stocké dans un fichier MPEG (*.mpeg,
*.mpg, *.vob, and so on...), il es probablement au format Mpeg1-PS ou
Mpeg2-PS</span>
<span xml:lang="de">"type" kann "Mpeg1-PS", "Mpeg2-PS", "Mpeg2-TS",
oder "DVD" sein. Wenn Ihr Stream in einer MPEG-Datei (*.mpeg, *.mpg, *.vob,
usw.) gespeichert ist, ist es wahrscheinlich im Mpeg1-PS oder
Mpeg2-PS - Format</span>
.</para></listitem>

<listitem><para>
<span xml:lang="en">if "type" is set to "Mpeg1-PS", "Mpeg2-PS", or
"Mpeg2-TS", VLS will assume your stream is stored in the file "file", in
the directory "path" ("path" being the variable defined in the "Input"
section)</span>
<span xml:lang="fr">si type n'est pas "dvd", VLS supposera que votre
fichier est stocké dans le fichier "file", dans le répertoire "path" (où
"path" est le répertoire défini dans la section "Input")</span>
<span xml:lang="de">Falls "type" auf Mpeg1-PS", "Mpeg2-PS" oder
"Mpeg2-TS" eingestellt, wird VLS annehmen, dass der Stream in der Datei
"file" im Verzeichnis "path" gespeichert ist (die "path"-Variable wurde in der
"Input"-Sektion festgelegt)</span>
.</para></listitem>

<listitem><para>
<span xml:lang="en">if "type" is "DVD", the variable "Device" will be
used instead of "FileName" (the variable "FilesPath" is not prepended
to the device name !). The variable "Device" is the device of your DVD
drive ("/dev/hdc" or "/dev/cdrom" for instance). You can also play a DVD
copied on a hard disk: then "Device" is the directory where the .vob
files are stored ("/mnt/data/VIDEO_TS" for instance)</span>
<span xml:lang="fr">dans le cas contraire, la variable "Device" sera
utilisée à la place de "FileName". Elle représente l'adresse de votre
lecteur de DVD ("/dev/hdc" ou "/dev/cdrom", par exemple). Vous pouvez
également jouer un DVD copié sur un disque dur: "device" est alors
l'endroit où les fichiers .vob sont stockés ("/mnt/data/VIDEO_TS", par
exemple)</span>
<span xml:lang="de">Falls "type" "DVD" ist, wird die Variable "Device"
anstatt von "FileName" benutzt werden (die Variable "FilesPath" wird nicht
auf den Devicenamen [angewendet]!). Die Variable "Device" ist das Device
Ihres DVD-Laufwerkes (beispielsweise "/dev/hdc" oder "/dev/cdrom"). Sie
können auch eine auf eine Festplatte kopierte DVD wiedergeben. Dann ist
"Device" das Verzeichnis, in dem die .vob-Dateien gespeichert sind
(beispielsweise "/mnt/data/VIDEO_TS")</span>
.</para></listitem>
</itemizedlist>

<note>
&streamable-mpeg-file;
</note>

<note><para>
<span xml:lang="en">In order to play DVDs, you need to compile VLS with
DVD support, which uses libdvdread and libdvdcss. You will need
read <emphasis>and</emphasis> write access rights to the DVD
device</span>
<span xml:lang="fr">Pour pouvoir lire des DVDs, vous devez compiler VLS
avec le support des DVD, qui utilise libdvdread et libdvdcss. Vous devez
avoir l'accès en lecture <emphasis>et</emphasis> en écriture à votre
lecteur de DVD</span>
<span xml:lang="de">Um DVD wiedergeben zu können, müssen Sie VLS mit
DVD-Unterstützung, die libdvdread und libdvdcss benutzt, kompilieren. Sie
werden Lese- <emphasis>und</emphasis> Schreibzugriff auf das DVD-Device
benötigen</span>
.</para></note>


<para>
<span xml:lang="en">Full example</span>
<span xml:lang="fr">Exemple complet</span>
<span xml:lang="de">Komplettes Beispiel</span>
:</para>

<programlisting>
BEGIN "Input"
  FilesPath = "/home/videolan/streams"
  ProgramCount = "4"
END

BEGIN "1"     # MPEG2 stream stored in /home/videolan/streams/Dolby.vob
  Name     = "dolby"
  FileName = "Dolby.vob"
  Type     = "Mpeg2-PS"
END

BEGIN "2"     # another file
  Name     = "canyon"
  FileName = "Dolby_Canyon.vob"
  Type     = "Mpeg2-PS"
END

BEGIN "3"     # DVD
  Name     = "dvd"
  Device   = "/dev/cdrom"
  Type     = "Dvd"
END

BEGIN "4"     # DVD stored on a hard disk
  Name     = "matrix"
  Device   = "/mnt/data/matrix/VIDEO_TS"
  Type     = "Dvd"
END
</programlisting>

</sect2>
</sect1>
</chapter>
