#####################################################################
# Miscellaneous configuration
#####################################################################
AddType application/octet-stream .dmg
AddType application/octet-stream .rpm
AddType application/octet-stream .ipk
AddType application/octet-stream .vlt

ErrorDocument 403 /403.html
ErrorDocument 404 /404.html

RewriteEngine on
RewriteRule \.svn /404.html [L]

#######################################################################
# Redirects for moved pages
#######################################################################

################# Project ####################

# Contact / Team
RewriteRule ^contact.htm$ /team/index.html [R=permanent,L]
RewriteRule ^contact.html$ /team/index.html [R=permanent,L]
RewriteRule ^team.html$ /team/index.html [R=permanent,L]

# Support
RewriteRule ^lists.html$ /support/lists.html [R=permanent,L]
RewriteRule ^support/consultants(.*)$ /partners.html [R=permanent,L]
RewriteRule ^support/irc(.*)$ /support/index.html [R=permanent,L]
RewriteRule ^irc(.*)$ /support/index.html [R=permanent,L]
RewriteRule ^support/bug-reporting.* /support/index.html [R=permanent,L]

RewriteRule ^vlc/bug-reporting.html$ /support/bug-reporting.html [R=permanent,L]

#################### VLC ###########################

# Misc
RewriteRule ^packages(.*)$ /pub/vlc$1 [R=permanent,L]
RewriteRule ^vlc/doc.html$ /vlc/index.html [R=permanent,L]
RewriteRule ^screenshots(.*)$ /vlc/screenshots$1 [R=permanent,L]
RewriteRule ^live.(.*)$ /vlc/index.html [R=permanent,L]

# Downloads
Redirect /mirror.html http://www.videolan.org/mirror.php

RewriteRule ^vlc/download.html$ /vlc/index.html [R=permanent,L]
RewriteRule ^download.html$ /vlc/index.html [R=permanent,L]
RewriteRule ^vlc/bsd.html$ /vlc/features.html [R=permanent,L]
RewriteRule ^vlc/download-unix.html$ /vlc/download-sources.html [R=permanent,L]
RewriteRule ^vlc/download-linux.html$ /vlc/index.html [R=permanent,L]
RewriteRule ^vlc/download-source.html$ /vlc/download-sources.html [R=permanent,L]
Redirect /vlc/download-mandrake.html http://www.videolan.org/vlc/download-mandriva.php

# Features
RewriteRule ^vlc/features(.*)$ http://wiki.videolan.org/index.php/VLCFeatures [R=permanent,L]
RewriteRule ^vlc/beos.html$ /vlc/features.html [R=permanent,L]
RewriteRule ^vlc/linux.html$ /vlc/features.html [R=permanent,L]
RewriteRule ^vlc/macosx.html$ /vlc/features.html [R=permanent,L]
RewriteRule ^vlc/qnx.html$ /vlc/features.html [R=permanent,L]
RewriteRule ^vlc/solaris.html$ /vlc/features.html [R=permanent,L]
RewriteRule ^vlc/familiar.html$ /vlc/features.html [R=permanent,L]
RewriteRule ^vlc/todo.html$ /vlc/features.html [R=permanent,L]
RewriteRule ^vlc/windows.html$ /vlc/features.html [R=permanent,L]

# Skins
RewriteRule ^vlc/skins.html$ /vlc/skins.php [R=permanent,L]
RewriteRule ^vlc/download-skins2.*$ /vlc/skins.php [R=permanent,L]
RewriteRule ^vlc/skins-(.*)$ /vlc/skins.php [R=permanent,L]

##################### Streaming #####################

RewriteRule ^/streaming/.*$ /vlc/streaming.html [R=permanent,L]
RewriteRule ^intro.html$ /vlc/streaming.html [R=permanent,L]

RewriteRule ^vlcs(.*)$ /network$1 [R=permanent,L]
RewriteRule ^vls/(.*)$ /streaming/index.html [R=permanent,L]
RewriteRule ^vlms/(.*)$ /streaming/index.html [R=permanent,L]
RewriteRule ^network/(.*)$ /streaming/index.html [R=permanent,L]
RewriteRule ^streaming/download.html$ /vlc/streaming.html [R=permanent,L]
RewriteRule ^streaming/download-linux.html$ /vlc/streaming.html [R=permanent,L]
RewriteRule ^streaming/download-windows.html$ /vlc/streaming.html [R=permanent,L]

#################### Documentation ######################

# New directory structure
Redirect permanent /doc/videolan-howto/videolan-howto-en.html http://www.videolan.org/doc/videolan-howto/en/videolan-howto-en.html
Redirect permanent /doc/vlc-user-guide/vlc-user-guide-en.html http://www.videolan.org/doc/vlc-user-guide/en/vlc-user-guide-en.html
Redirect permanent /doc/vls-user-guide/vls-user-guide-en.html http://www.videolan.org/doc/vls-user-guide/en/vls-user-guide-en.html
Redirect permanent /doc/faq/index.html http://www.videolan.org/doc/faq/en/videolan-faq-en.html
Redirect permanent /doc/videolan-howto/index.html http://www.videolan.org/doc/videolan-howto/en/videolan-howto-en.html
Redirect permanent /doc/vlc-user-guide/index.html http://www.videolan.org/doc/vlc-user-guide/en/vlc-user-guide-en.html
Redirect permanent /doc/vls-user-guide/index.html http://www.videolan.org/doc/vls-user-guide/en/vls-user-guide-en.html
Redirect permanent /doc/faq/videolan-faq-en.html http://www.videolan.org/doc/faq/en/videolan-faq-en.html
Redirect permanent /doc/faq/videolan-faq-fr.html http://www.videolan.org/doc/faq/en/videolan-faq-fr.html
Redirect permanent /doc/faq/videolan-faq-es.html http://www.videolan.org/doc/faq/en/videolan-faq-es.html

#The VideoLAN quickstart does not exist anymore
Redirect permanent /doc/videolan-quickstart http://www.videolan.org/doc/
Redirect permanent /doc/en/videolan-quickstart-en.html http://www.videolan.org/doc/
Redirect permanent /doc/fr/videolan-quickstart-fr.html http://www.videolan.org/doc/

# Some dumb people link to us with doc//$LANG/document
Redirect permanent /doc/fr/vlc-user-guide http://www.videolan.org/doc/vlc-user-guide/fr
Redirect permanent /doc/fr/videolan-howto http://www.videolan.org/doc/videolan-howto/fr
Redirect permanent /doc/fr/vls-user-guide http://www.videolan.org/doc/vls-user-guide/fr

Redirect permanent /doc/en/vlc-user-guide http://www.videolan.org/doc/vlc-user-guide/en
Redirect permanent /doc/en/videolan-howto http://www.videolan.org/doc/videolan-howto/en
Redirect permanent /doc/en/vls-user-guide http://www.videolan.org/doc/vls-user-guide/en

RewriteRule ^vlc/doc/vlc-howto.html$ /doc/vlc-user-guide/ [R=permanent,L]
RewriteRule ^doc/faq-vlc/faq/(.*)$ /doc/faq/ [R=permanent,L]
RewriteRule ^doc/faq/videolan-faq.html$ /doc/faq/ [R=permanent,L]

####################### Moved to developers #########################

Redirect /cgi-bin http://developers.videolan.org/cgi-bin


RewriteRule ^dtsdec.html http://developers.videolan.org/libdca.html [R=permanent,L]
Redirect permanent /x264.html http://developers.videolan.org/x264.html
Redirect permanent /libdca.html http://developers.videolan.org/libdca.html

RewriteRule ^vlc/changelog.html http://developers.videolan.org/vlc/ChangeLog [R=permanent,L]
RewriteRule ^vls/changelog.html http://developers.videolan.org/vls/ChangeLog [R=permanent,L]
RewriteRule ^cvs.html http://developers.videolan.org/cvs.html [R=permanent,L]
RewriteRule ^vlc/developers.html http://developers.videolan.org/vlc/devel_doc.html [R=permanent,L]
RewriteRule ^vls/developers.html http://developers.videolan.org/vls/devel_doc.html [R=permanent,L]
RewriteRule ^libdvdcss/download.html http://developers.videolan.org/pub/videolan/libdvdcss/ [R=permanent,L]
RewriteRule ^libdvdcss.* http://developers.videolan.org/libdvdcss/index.html [R=permanent,L]
RewriteRule ^libdvbpsi/download.html http://developers.videolan.org/pub/videolan/libdvbpsi/ [R=permanent,L]
RewriteRule ^libdvbpsi.* http://developers.videolan.org/libdvbpsi/index.html [R=permanent,L]
RewriteRule ^libdvdplay/download.html http://developers.videolan.org/pub/videolan/libdvdplay/ [R=permanent,L]
RewriteRule ^libdvdplay.* http://developers.videolan.org/libdvdplay/index.html [R=permanent,L]

Redirect permanent /developers http://developers.videolan.org
Redirect permanent /cvs http://developers.videolan.org/cvs.html

###################### Images #########################"""

RewriteRule ^images/([^/]*)bri7x(.*)$ /images/goodies/$1bri7x$2 [R=permanent,L]
RewriteRule ^images/videolan_org(.*)$ /images/goodies/videolan_org$1 [R=permanent,L]
RewriteRule ^images/cone-soppera(.*)$ images/goodies/cone-soppera$1 [R=permanent,L]


##################### Unsorted misc stuff ####################

RewriteRule ^tests/(.*)$ /rez/ [R=permanent,L]

RewriteRule ^vlc/dx7headers.tgz http://download.videolan.org/pub/videolan/testing/contrib/win32-dx7headers.tgz [R=permanent,L]
RewriteRule ^vlc/(.*).tgz$ /removed/$1.tgz [R=permanent,L]
RewriteRule ^vlc/(.*).bz2$ /removed/$1.bz2 [R=permanent,L]
RewriteRule ^freedvd.html$ /removed/freedvd.html [R=permanent,L]

# We get many 404 for this one
Redirect permanent debian/ http://www.videolan.org




