/* Table of Contents:

	Typography
	Header Layout
	Middle Layout
	Footer Layout
	
*/

/* Typography ----------------------------------------------------------------------------- */

a, a:link, a:visited { color: #f60; }
a:hover { color: #333; }

body { 
	color: #333;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: center;
}

h1 {
	color: #333;
	font-family: sans-serif, Helvetica, Arial;
	font-weight: normal;
	font-size: 28px;
}

h2 {
	color: #2D58AE;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
}

h2 a, h2 a:link, h2 a:visited {
	color: #2D58AE;
	text-decoration: none;
}

h2 a:hover {
	color: #F60;
}

h3 {
	color: #333;
	font-family: sans-serif, Helvetica, Arial;
	font-weight: bold;
	font-size: 16px;
}

code { font-family: monospace, fixed, Courier; }

#navmenu li a {
	color: #039;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
	text-decoration: none;
}

#navmenu li a:hover {
	color: #004;
	text-decoration: none;
}

#mirror {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 11px;
	color: #039;
}

select {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 10px;
	color: #039;
}

#submenucontainer { text-align: left; }

#submenucontainer ul li a {
	color: #2D58AE;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 17px;
	text-decoration: none;
	text-transform: lowercase;
	text-shadow: 0.2em 0.2em;
}

#submenu li a:hover, #submenu li a:active {	
	color: #2E3A6B;
	text-decoration: underline;
}

#maincontent { text-align: left; }

#maincontent table a {
	color: #2D58AE;
}

#maincontent table a:hover, #maincontent table a:active {
	color: #000;
}

#maincontent table th {
	font-size: 12px;
	text-align: left;
}

#maincontent table td { font-size: 11px; }

.date {
	color: #75818A;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}

/* Panels */

.panel-blue { color: #039; }
.panel-blue .hd .c,
.panel-blue .ft .c { font-size: 1px; /* ensure minimum height */ }
.panel-blue h1 {
	color: #2D58AE;
	font-size: 17px;
	font-weight: bold;
}

.panel-blue p { font-size: 11px; }
.panel-blue a, .panel-blue a:visited { color: #039; }
.panel-blue a:hover, .panel-blue a:active { color: #000; }

.panel-gray { color: #333; }
.panel-gray .hd .c,
.panel-gray .ft .c { font-size: 1px; /* ensure minimum height */ }

.panel-gray h1 {
	color: #75818A;
	font-size: 17px;
	font-weight: bold;
}

.panel-gray p { font-size: 11px; }
.panel-gray a, .panel-gray a:visited { color: #2D58AE; }
.panel-gray a:hover, .panel-gray a:active { color: #000; }

.panel-orange { color: #C60; }
.panel-orange .hd .c,
.panel-orange .ft .c { font-size: 1px; /* ensure minimum height */ }

.panel-orange h1 {
	color: #C60;
	font-size: 17px;
	font-weight: bold;
}

.panel-orange a, .panel-orange a:visited { color: #C60; }
.panel-orange a:hover, .panel-orange a:active { color: #000; }

.download {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 20px;
}

.more {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-align: right;
}

#notes {
	color: #75818A;
	font-size: 9px;
}

.vlcversion { font-size: 16px; }
#vlccounter { font-weight: bold; }
#spacer { font-size: 1px; /* to make sure width is not overridden */ }

#footer {
	color: #75818A;
	font-size: 11px;
	text-align: center;
}

#footer a {
	color: #75818A;
	text-decoration: underline;
}

#footer a:hover {
	color: #333;
	text-decoration: none;
}


/* Header Layout -------------------------------------------------------------------------- */

#header {
	margin: 0;
	padding: 0;
}

#navmenucontainer, #submenucontainer {
	width: 100%;
	margin: 0;
	padding: 0;
}

#navmenucontainer { height: 28px; }

#navmenu {
	float: left;
	padding: 4px 0;
	vertical-align: middle;
}

#navmenu li {
	display: inline;
	margin: 0 16px 0 0;
	padding: 0; 
}

#mirror {
	float: right;
	background: transparent;
}

form {
	margin: 0;
	padding: 4px 0;
}

#submenucontainer { height: 47px; }
#submenucontainer ul { padding: 0; }
#submenucontainer ul li { display: inline; }

#submenucontainer ul li a {
	float: left;
	padding: 14px 20px 10px 0;
}


/* Middle Layout -------------------------------------------------------------------------- */

html, body {
	width: 100%;
	height: 100%;
	min-width: 750px;
	border: 0;
	margin: 0;
	padding: 0;
}

body { background: #fff url("images/bg.png") repeat-x top; }

h1 {
	margin: 0;
	padding: 35px 0 12px;
	line-height: 19px;
}

h2 {
	margin: 0;
	padding: 25px 0 4px;
	line-height: 19px;
}

h3 {
	margin: 0;
	padding: 10px 0 4px;
	line-height: 19px;
}

h3 { border-bottom: 2px dotted #E4E7E9; }

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul.bullets {
	list-style-type: disc; 
	padding-left: 1em;
	margin-bottom: 1em;
}

img { border: none; 
	behavior: url("/pngbehavior.htc");}

#pagecontainer {
	width: 86%;
	height: 100%;
	margin: 0 auto;
}

.note { background: #CCFFCC; }

#description {
	padding: 0 0 15px;
	border-bottom: 2px dotted #E4E7E9;
}

#description p {
	margin: 0;
	padding: 0 0 15px 0;
	line-height: 19px;
}

#description ul {
	padding: 35px 0 15px;
	line-height: 19px;
}

#left {
	width: 56%;
	padding-bottom: 55px;
}

#right {
	width: 40%;
	padding-bottom: 55px;
}

#fullwidth {
	padding-bottom: 55px;
}

#left { float: left; }
#right { float: right; }
#fullwidth { float: left; }

#left p, #right p, #fullwidth p {
	margin: 0;
	padding: 0 0 10px 0;
	line-height: 135%;
}

/* Tables */
			
table {
	width: 100%;
	margin: 0 0 25px 0;
	padding: 0;
	border-collapse: collapse;
}

#maincontent table th {
	padding: 0 7px;
	line-height: 2.5em;
	background: #D4E0F7;
}

#maincontent table th img {
	padding: 5px 0;
	vertical-align: middle;
}

#maincontent table td {
	padding: 0 7px;
	line-height: 2.1em;
	border-top: 1px solid #E4E7E9;
	background: #F4F7FD;
}

#maincontent table td.yes {
	background: #cfc;
}

#maincontent table td.no {
	background: #fcc;
}

#maincontent table td.partial {
	background: #ffa;
}

#maincontent table td.none {
	background: #F4F7FD;
}

#maincontent table td.type {
	background: #EBF0FA;
}

#maincontent table td.category {
	background: #F4F7FD;
}
				
/* VideoLAN logo and VLC media player screenshot */

.videolan-logo {
	float: left;
	width: 120px;
	height: 45px;
}

.vlc-screenshot {
	float: right;
	width: 300px;
	height: 200px;
	margin-top: -25px;
	padding-left: 40px;
}

/* Panels */

.panel-blue {
	width: 100%;
	margin: 25px auto 0;
	min-width: 200px;
	max-width: 792px;
}

.panel-blue .hd .c,
.panel-blue .ft .c { height: 8px; }

.panel-blue .hd {
	background: transparent url(images/panel-blue/tl.gif) no-repeat 0 0;
	margin-right: 8px; /* space for right corner */
}

.panel-blue .hd .c {
	background: transparent url(images/panel-blue/tr.gif) no-repeat right;
	margin-right: -8px; /* space for right corner */
}

.panel-blue .bd {
	background: transparent url(images/panel-blue/ml.gif) repeat-y 0 0;
	margin-right: 8px;
}

.panel-blue .bd .c {
	margin-right: -8px;
	padding: 10px;
	background: transparent url(images/panel-blue/mr.gif) repeat-y right;
}
 
.panel-blue .ft {
	background: transparent url(images/panel-blue/bl.gif) no-repeat 0 0;
	margin-right: 8px;
}

.panel-blue .ft .c {
	background: transparent url(images/panel-blue/br.gif) no-repeat right;
	margin-right: -8px;
}

.panel-blue h1 {
	margin: -8px 0 0;
	padding: 0 0 4px;
}

.panel-blue p {
	margin: 0;
	padding: 0;
}

.panel-blue hr { border: 1px solid #D4E0F7; }

.panel-blue-bullet {
	padding: 0 0 20px 0;
	line-height: 19px;
}

.panel-blue-bullet li {
	background: url(images/bullet-blue.png) left top no-repeat;
	padding: 0 0 4px 25px;
}

.panel-gray {
	width: 100%;
	margin: 25px auto 0;
	min-width: 200px;
	max-width: 792px;
}

.panel-gray .hd .c,
.panel-gray .ft .c { height: 8px; }

.panel-gray .hd {
	background: transparent url(images/panel-gray/tl.gif) no-repeat 0 0;
	margin-right: 8px; /* space for right corner */
}

.panel-gray .hd .c {
	background: transparent url(images/panel-gray/tr.gif) no-repeat right;
	margin-right: -8px; /* space for right corner */
}

.panel-gray .bd {
	background: transparent url(images/panel-gray/ml.gif) repeat-y 0 0;
	margin-right: 8px;
}

.panel-gray .bd .c {
	margin-right: -8px;
	padding: 10px;
	background: transparent url(images/panel-gray/mr.gif) repeat-y right;
}
 
.panel-gray .ft {
	background: transparent url(images/panel-gray/bl.gif) no-repeat 0 0;
	margin-right: 8px;
}

.panel-gray .ft .c {
	background: transparent url(images/panel-gray/br.gif) no-repeat right;
	margin-right: -8px;
}

.panel-gray h1 {
	margin: -8px 0 0;
	padding: 0 0 4px;
}

.panel-gray p {
	margin: 0;
	padding: 0;
}

.panel-gray-bullet {
	padding: 0;
	line-height: 19px;
}

.panel-gray-bullet li {
	background: url(images/bullet-black.png) left top no-repeat;
	padding: 0 0 4px 25px;
}

.panel-orange {
	width: 100%;
	margin: 25px auto 0;
	min-width: 200px;
	max-width: 792px;
}

p.center { text-align:center;} 

.panel-orange .hd .c,
.panel-orange .ft .c { height: 8px; }

.panel-orange .hd {
	background: transparent url(images/panel-orange/tl.gif) no-repeat 0 0;
	margin-right: 8px; /* space for right corner */
}

.panel-orange .hd .c {
	background: transparent url(images/panel-orange/tr.gif) no-repeat right;
	margin-right: -8px; /* space for right corner */
}

.panel-orange .bd {
	background: transparent url(images/panel-orange/ml.gif) repeat-y 0 0;
	margin-right: 8px;
}

.panel-orange .bd .c {
	margin-right: -8px;
	padding: 10px;
	background: transparent url(images/panel-orange/mr.gif) repeat-y right;
}
 
.panel-orange .ft {
	background: transparent url(images/panel-orange/bl.gif) no-repeat 0 0;
	margin-right: 8px;
}

.panel-orange .ft .c {
	background: transparent url(images/panel-orange/br.gif) no-repeat right;
	margin-right: -8px;
}

.panel-orange h1 {
	margin: -8px 0 0;
	padding: 0 0 4px;
}

.panel-orange p {
	margin: 0;
	padding: 0;
}

.panel-orange-bullet {
	padding: 0;
	line-height: 19px;
}

.panel-orange-bullet li {
	background: url(images/bullet-orange.png) left top no-repeat;
	padding: 0 0 4px 25px;
}

.vlc-logo {
	float: left;
	width: 64px;
	height: 64px;
	margin-left: -5px;
	padding-bottom: 15px;
	background: url(images/vlc-logo.gif) left top no-repeat;
}

.download { margin: 10px 0; }
.download br { line-height: 30px; }

/* Download lists */

.os {
	padding: 0 0 75px 15px;
	line-height: 20px;
}

.otheros, .mirror {
	padding: 0 0 35px 15px;
	line-height: 20px;
}

.os li, .otheros li {
	background: url(images/12-em-down.png) left no-repeat;
	padding-left: 25px;
}

.os1 { float:left; }
.os2 { float:left;margin-left:3em; }
.clearme { clear:both; }
div.screenshot{ float:left; margin-right: 3em; text-align:center; }


/* Flags */

.mirror li { padding-left: 25px; }
ul li.au { background: url(images/flags/au.png) left no-repeat; }
ul li.fr { background: url(images/flags/fr.png) left no-repeat; }
ul li.nl { background: url(images/flags/nl.png) left no-repeat; }
ul li.se { background: url(images/flags/se.png) left no-repeat; }
ul li.tw { background: url(images/flags/tw.png) left no-repeat; }
ul li.us { background: url(images/flags/us.png) left no-repeat; }

/* Footer Layout -------------------------------------------------------------------------- */

#spacer {
	float: left;
	width: 0;
	height: 95%;
	padding: 0;
	margin: 0;
}

#footer {
	clear: both;
	height: 40px;
	margin: 0;
	padding: 15px;
	background: #E4E7E9;
	border-top: 1px solid #C8CDD0;
}

#footer p {
	margin: 0;
	padding: 0;
	line-height: 20px;
}

.hidden { display:none; }
