#maincontent table td {
    margin: 0px;
    padding: 0px;
    border-top: 0px;
}

ul.feature-icon {
    padding-top: 10px;
}

.feature-table {
    margin-top: 30px;
}

.feature-table table {
    margin-bottom: 0;
}

.feature-cat-list {
    width: 150px;
    text-align: center;
}

.feature-cat:hover {
    text-decoration: none;
}

.feature-cat {
    text-decoration: none;
    margin: 5px 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    display: block;
    cursor: pointer;
    background: #f9f9f9;
    padding: 10px 10px 10px 5px;
    font-weight: bold;
    color: #2D58AE;
}

.feature-cat.cat-active {
    background: #7499E0;
    border: none;
    color: #fff;
}

.feature-list {
    background: #7499e0 !important;
}

.feature-div {
    margin: 2px;
}

.feature-list-table {
    background: #FFF;
}

#maincontent table.feature-list-table td {
    border-top: 1px solid #D4E0F7;
}

.feature-cat a, .feature-cat-sel a {
    text-decoration: none;
}

#maincontent table th.th-os {
    white-space: nowrap;
    overflow: hidden;
    width: 10%;
    text-align: center;
}

table th.th-os a, table th.th-os a > img {
    display: block;
    margin: auto;
    text-align: center;
}

table th.th-os a.inline-block > img {
    display: inline-block;
}

#maincontent table th.th-os:hover {
    overflow: visible;
}

#maincontent table td.yes {
    color: #333333;
    background: #EAF0FB;
    width: 10%;
}

#maincontent table td.no {
    color: #333333;
    background: #F3F6FD;
    width: 10%;
}

#maincontent table td.partial {
    color: #333333;
    background: #E1E9F9;
    width: 10%;
}

#maincontent table td.none {
    background: #F3F6FD;
    width: 10%;
}

#maincontent table td.type {
    background: #EAF0FB;
    width: 20%;
}

table td.category {
    background: #F3F6FD;
    width: 10%;
    border-right: 1px solid #ddd;
}

td.yes, td.no, td.part, td.partial, td.none {
    text-align: center;
}

#maincontent table th.type {
    width: 20%;
}

#maincontent table th.category {
    width: 10%;
}

.feature-table .notes {
    padding: 10px 10px 0 10px;
}

